@font-face {
  font-family: 'Aktiv';
  src: url('fonts/aktivgrotesk_rg-webfont.woff2') format('woff2'), url('fonts/aktivgrotesk_rg-webfont.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'Aktiv';
  src: url('fonts/aktivgrotesk_bd-webfont.woff2') format('woff2'), url('fonts/aktivgrotesk_bd-webfont.woff') format('woff');
  font-weight: bold;
}
@font-face {
  font-family: 'Aktiv';
  src: url('fonts/AktivGrotesk-Medium.woff2') format('woff2'), url('fonts/AktivGrotesk-Medium.woff') format('woff');
  font-weight: 500;
}
@font-face {
  font-family: 'Aktiv';
  src: url('fonts/AktivGrotesk-XBold.woff2') format('woff2'), url('fonts/AktivGrotesk-XBold.woff') format('woff');
  font-weight: 900;
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.flex-reverse {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.mw {
  position: relative;
  width: 100%;
  max-width: 1210px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 40px;
}
.sw {
  position: relative;
  width: 100%;
  max-width: 3000px;
  margin-left: auto;
  margin-right: auto;
}
.ios10 .mw {
  -webkit-transform: translate3d(0, 0, 0);
}
.nopad {
  padding: 0;
}
.twoCol > div {
  -webkit-flex: 1 1 15em;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1 1 15em;
  width: 50%;
}
.b {
  font-weight: bold;
}
.b5 {
  font-weight: 500;
}
.ib {
  display: inline-block;
}
.rel {
  position: relative;
}
.w100 {
  width: 100%;
}
.safari .topClipper {
  overflow: auto;
}
.safari .topClipper::-webkit-scrollbar {
  display: none;
}
.svgLogos {
  position: relative;
  z-index: 1;
}
@media (min-width: 721px) {
  .svgLogos {
    margin-top: -240px;
  }
}
.sectionLogos {
  margin-top: -40px;
  z-index: 2;
  color: #6a708a;
  font-weight: bold;
  line-height: 48px;
  padding-bottom: 20px;
  max-width: 3000px;
  margin-left: auto;
  margin-right: auto;
}
.sectionLogos .sectionLogosBG {
  position: absolute;
  left: 0;
  right: 0;
  top: 40px;
  bottom: 0;
  background-color: #2A314B;
}
@media (max-width: 721px) {
  .sectionLogos {
    margin-top: -110px;
  }
  .sectionLogos .seenon {
    width: 100%;
    text-align: right;
  }
}
.sectionLogos .logos {
  justify-content: space-between;
}
@media (max-width: 1080px) {
  .sectionLogos .logos {
    max-width: 600px;
  }
}
@media (max-width: 620px) {
  .sectionLogos .logos {
    max-width: 410px;
  }
}
.sectionLogos .logos img {
  height: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.svgStatsBottom {
  margin-top: -380px;
}
.sectionStats {
  z-index: 2;
  overflow: visible;
}
.sectionStats .sectionStatsBG {
  background: #2D344F;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 380px;
}
@media (max-width: 700px) {
  .sectionStats .sectionStatsInside {
    padding: 0;
  }
}
.sectionStats .statsCols {
  padding-bottom: 200px;
}
.sectionStats .statsCols > .spacerSmall {
  max-width: 40px;
}
.sectionStats .statsCols > .spacerBig {
  max-width: 80px;
}
.sectionStats .statsCols > div:not(.spacer) {
  min-width: 220px;
  max-width: 310px;
  -webkit-flex: 16;
  -webkit-box-flex: 16;
  -ms-flex: 16;
  flex: 16;
}
.sectionStats .statsCols > div {
  position: relative;
}
.sectionStats .statsCols > div:nth-child(6) .statPercent {
  bottom: -70px;
  right: -10px;
}
.sectionStats .statsCols > div:nth-child(6) .statDetail {
  bottom: -120px;
  right: -10px;
  width: 190px;
  text-align: right;
}
@media (max-width: 700px) {
  .sectionStats .statsCols {
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: space-around;
    -ms-justify-content: space-around;
    -webkit-justify-content: space-around;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-box-orient: vertical;
  }
  .sectionStats .statsCols .spacer {
    display: none;
  }
  .sectionStats .statsCols > div {
    width: 50%;
  }
  .sectionStats .statsCols > div:nth-child(2) .statPercent {
    top: 60px;
    right: -100px;
  }
  .sectionStats .statsCols > div:nth-child(2) .statDetail {
    top: 160px;
    left: 100%;
    margin-left: 20px;
    width: 150px;
  }
  .sectionStats .statsCols > div:nth-child(4) {
    margin-top: 100px;
    align-self: flex-end;
  }
  .sectionStats .statsCols > div:nth-child(4) .statPercent {
    top: 40px;
    left: -150px;
  }
  .sectionStats .statsCols > div:nth-child(4) .statDetail {
    top: 160px;
    right: 100%;
    width: 146px;
    margin-right: 20px;
    text-align: right;
  }
  .sectionStats .statsCols > div:nth-child(6) {
    margin-top: 100px;
    align-self: center;
    width: 60%;
  }
}
@media (min-width: 701px) {
  .sectionStats .statsCols .spacer {
    -webkit-flex: 1;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .sectionStats .statsCols > div:nth-child(2) img {
    padding: 0 10px;
  }
  .sectionStats .statsCols > div:nth-child(2) .statPercent {
    top: 60px;
    right: -100px;
  }
  .sectionStats .statsCols > div:nth-child(2) .statDetail {
    top: 180px;
    right: -170px;
    width: 150px;
  }
  .sectionStats .statsCols > div:nth-child(4) {
    margin-top: 340px;
  }
  .sectionStats .statsCols > div:nth-child(4) .statPercent {
    top: 60px;
    left: -150px;
  }
  .sectionStats .statsCols > div:nth-child(4) .statDetail {
    top: 180px;
    left: -190px;
    width: 180px;
  }
  .sectionStats .statsCols > div:nth-child(6) {
    margin-top: 500px;
  }
}
.sectionStats .statsCols img {
  width: 100%;
}
.sectionStats .statPercent {
  position: absolute;
  font-size: 72px;
  font-weight: 900;
  color: #35d18f;
}
.sectionStats .statDetail {
  position: absolute;
  font-size: 14px;
  color: #979CB2;
}
.sectionStats .statHeader {
  font-size: 34px;
  font-weight: 900;
}
.sectionStats .statHeader1 {
  color: white;
  max-width: 320px;
}
@media (max-width: 700px) {
  .sectionStats .statHeader1 {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
@media (min-width: 701px) {
  .sectionStats .statHeader1 {
    margin-top: 140px;
    margin-bottom: -50px;
  }
}
.sectionStats .statHeader1 .statHighlight {
  background: white;
  color: #2b364f;
  padding: 4px 16px 4px 10px;
}
.sectionStats .statHeader2 {
  color: white;
}
@media (max-width: 700px) {
  .sectionStats .statHeader2 {
    justify-content: center;
  }
}
@media (min-width: 701px) {
  .sectionStats .statHeader2 {
    justify-content: flex-end;
  }
}
.sectionStats .statHeader2 .statHighlight {
  background: #35d18f;
  color: #2b364f;
  padding: 4px 10px;
}
.statBottomImg {
  height: 400px;
  margin-top: -382px;
}
.sectionMission {
  margin-top: -200px;
}
.sectionGreenHeader {
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
  color: #35d18f;
}
.sectionHeader {
  font-weight: 900;
  font-size: 32px;
  line-height: 1.3;
  margin-top: 16px;
  margin-bottom: 16px;
}
.goodCompany {
  color: #B0B4C3;
  margin-top: 120px;
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
  line-height: 56px;
  justify-content: space-between;
}
@media (max-width: 1140px) {
  .goodCompany {
    max-width: 520px;
  }
}
@media (max-width: 500px) {
  .goodCompany {
    margin-top: 80px;
    max-width: 380px;
  }
  .goodCompany .yourein {
    width: 100%;
  }
}
.goodCompany img {
  height: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.sectionText {
  max-width: 600px;
  margin: 0 auto;
}
.sectionWhatWeDo {
  padding-bottom: 48px;
  z-index: 1;
}
.sectionWhatWeDo .sectionWhatWeDoBG {
  background: #f0f0f5;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 200px;
}
.sectionWhatWeDo .sectionHeader {
  margin: 30px auto 0 auto;
}
@media (max-width: 720px) {
  .sectionWhatWeDo .sectionHeader {
    font-size: 24px;
  }
}
.sectionWhatWeDo .button {
  border-radius: 4px;
  padding: 8px 24px;
  margin-top: 10px;
}
.sectionWhatWeDo .weDoContent > div {
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  margin-top: 80px;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: space-around;
  -ms-justify-content: space-around;
  -webkit-justify-content: space-around;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -webkit-box-orient: vertical;
  align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex: 1;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
@media (max-width: 960px) {
  .sectionWhatWeDo .weDoContent > div {
    min-width: 340px;
    max-width: 340px;
  }
}
@media (min-width: 961px) {
  .sectionWhatWeDo .weDoContent > div {
    height: 540px;
  }
}
.sectionWhatWeDo .weDoContent .imgBig {
  padding: 0 12px;
}
.sectionWhatWeDo .weDoContent .imgBig .imgFull {
  width: 100%;
}
@media (max-width: 960px) {
  .sectionWhatWeDo .weDoContent .imgBig {
    width: 80%;
  }
}
@media (min-width: 961px) {
  .sectionWhatWeDo .weDoContent .imgBig {
    width: 100%;
  }
}
.sectionWhatWeDo .weDoContent .imgIcon {
  width: 48px;
  margin-top: -24px;
}
.sectionWhatWeDo .weDoContent .doHeader {
  font-weight: 900;
  font-size: 24px;
  margin-top: 30px;
  line-height: 1.2;
}
.sectionWhatWeDo .weDoContent .doText,
.sectionWhatWeDo .weDoContent .comingSoon {
  font-size: 14px;
  line-height: 1.8;
  color: #63687C;
}
.sectionWhatWeDo .weDoContent .doText {
  margin-top: 8px;
}
.shapeWhatWeDoBottom {
  background-color: #F9F9FA;
  margin-top: -200px;
}
.sectionCover {
  position: relative;
  margin-top: -360px;
  z-index: 1;
}
.sectionCover .sectionCoverBG {
  background: #F9F9FA;
  position: absolute;
  left: 0;
  right: 0;
  top: 360px;
  bottom: 300px;
  z-index: -1;
}
.sectionCover .sectionHeader {
  max-width: 400px;
  margin: 16px 0 80px 0;
}
@media (max-width: 720px) {
  .sectionCover .sectionHeader {
    font-size: 24px;
  }
}
.sectionCover > .flexbox > div {
  -webkit-flex: 1;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.sectionCover .spacer {
  max-width: 60px;
}
.sectionCover .img1 {
  margin-top: 60px;
}
.sectionCover .imgML {
  margin-left: 20px;
}
.sectionCover .imgMT {
  margin-top: 20px;
}
.sectionCover .row2 {
  margin-top: 80px;
}
.sectionCover .button {
  margin-left: 58px;
}
@media (max-width: 900px) {
  .sectionCover .coverImages {
    display: none;
  }
  .sectionCover .spacer {
    display: none;
  }
  .sectionCover .row2 {
    margin: 0;
  }
  .sectionCover .buttonWrapper {
    text-align: center;
  }
  .sectionCover .button {
    margin: 0;
  }
}
.coverBlocks img {
  width: 100%;
}
.coverBlocks .icon {
  width: 18px;
  margin: 4px 40px 0 0;
}
@media (max-width: 720px) {
  .coverBlocks .icon {
    margin-right: 20px;
  }
}
.coverBlocks .coverHeader {
  font-weight: 900;
  font-size: 22px;
}
@media (max-width: 720px) {
  .coverBlocks .coverHeader {
    font-size: 19px;
  }
}
.coverBlocks .coverText {
  font-size: 14px;
  margin: 4px 0 60px 0;
  line-height: 1.8;
  color: #63687C;
}
.shapeCoverBottom {
  margin-top: -300px;
}
.sectionUnlock {
  padding-bottom: 280px;
  margin-top: -250px;
}
.sectionUnlock .sectionUnlockBG {
  background: #2d344f;
  position: absolute;
  top: 250px;
  bottom: 0;
  left: 0;
  right: 0;
}
.sectionUnlock .button {
  margin-top: 20px;
}
@media (max-width: 800px) {
  .sectionUnlock {
    text-align: center;
  }
  .sectionUnlock .headerFaded {
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    font-size: 80px;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.05);
  }
  .sectionUnlock .sectionHeader {
    color: white;
    font-weight: 900;
    font-size: 32px;
    max-width: 400px;
    margin: -200px auto 0 auto;
  }
  .sectionUnlock span {
    display: block;
    line-height: 0.8;
  }
}
@media (min-width: 801px) {
  .sectionUnlock {
    padding-bottom: 280px;
  }
  .sectionUnlock .headerFaded {
    font-size: 120px;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.05);
  }
  .sectionUnlock .sectionHeader {
    color: white;
    font-weight: 900;
    font-size: 32px;
    margin-top: -80px;
  }
}
.sectionFooter {
  background: #2a314b;
  margin-top: -2px;
  font-size: 14px;
}
.sectionFooter .logo {
  height: 60px;
}
.sectionFooter .buttons div + div {
  margin-top: 4px;
}
.sectionFooter .buttons2 {
  margin: 0 80px 0 60px;
}
.sectionFooter,
.sectionFooter a {
  color: white;
}
.sectionFooter .faded {
  color: #aaa;
  max-width: 300px;
  margin: 12px 0;
  line-height: 1.2;
}
.sectionFooter .inputWrapper {
  background: #3f4660;
  height: 48px;
  border-radius: 24px;
  overflow: hidden;
}
.sectionFooter .inputWrapper fieldset {
  border: 0;
}
.sectionFooter .inputWrapper .text {
  font-weight: bold;
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 8px;
}
.sectionFooter .inputWrapper input,
.sectionFooter .inputWrapper button {
  outline: 0;
  border: 0;
  background: none;
  -webkit-appearance: none;
}
.sectionFooter .inputWrapper input {
  display: block;
  line-height: 42px;
  padding-left: 16px;
  font-size: 15px;
}
.sectionFooter .inputWrapper button {
  background: white;
  color: #2a314b;
  margin: 6px;
  padding: 0 16px;
  border-radius: 24px;
}
.sectionFooter .bottomHeart {
  margin-top: 32px;
  font-size: 14px;
  padding-bottom: 20px;
}
.sectionFooter .bottomHeart span {
  color: white;
  opacity: 0.4;
}
@media (max-width: 800px) {
  .sectionFooter .buttons2 {
    margin: 0 40px 0 30px;
  }
}
@media (max-width: 700px) {
  .sectionFooter {
    text-align: center;
    margin-top: -50px;
    z-index: 2;
  }
  .sectionFooter .footerContent,
  .sectionFooter .footerRight {
    align-items: center;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: space-around;
    -ms-justify-content: space-around;
    -webkit-justify-content: space-around;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-box-orient: vertical;
  }
  .sectionFooter .footerContent > div,
  .sectionFooter .footerRight > div {
    min-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .sectionFooter .buttons2 {
    margin-right: 0;
  }
  .sectionFooter .signupForm {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
@media (min-width: 701px) {
  .sectionFooter .footerRight {
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
}
.sectionAbout {
  margin-top: -60px;
  padding-bottom: 90px;
  z-index: -2;
}
@media (max-width: 600px) {
  .sectionAbout {
    margin-top: -120px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .sectionAbout .textTitle {
    max-width: 320px !important;
  }
  .sectionAbout .logosDe {
    display: none;
  }
}
@media (min-width: 601px) {
  .sectionAbout .logosMo {
    display: none;
  }
  .sectionAbout .logosDe img:last-child {
    margin-top: 36px;
  }
}
.sectionAbout .graylogo img {
  width: 24px;
}
.sectionAbout .textAbout {
  font-weight: 500;
  margin: 20px auto 0 auto;
  font-weight: bold;
  max-width: 680px;
}
@media (min-width: 1080px) {
  .sectionAbout .textAbout {
    font-size: 22px;
  }
}
@media (max-width: 1079px) {
  .sectionAbout .textAbout {
    font-size: 16px;
  }
}
.sectionAbout .logos {
  text-align: center;
  margin: 80px 10px 0 10px;
}
.sectionAbout .logos img {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.sectionAbout .textTitle,
.sectionAbout .textLight {
  max-width: 380px;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 420px) {
  .sectionAbout .textApps {
    margin: 0 -10px;
  }
}
.sectionAbout .graybox {
  background: #f7f7f7;
  padding: 80px 16px;
  max-width: 1170px;
  margin: 0 auto 90px auto;
}
.center {
  text-align: center;
}
.button {
  position: relative;
  display: inline-block;
  font-size: 15px;
  color: white;
  white-space: nowrap;
  cursor: pointer;
  text-align: left;
  font-weight: bold;
}
.button:hover .buttonInside {
  background-color: rgba(0, 0, 0, 0.1);
}
.button:hover .rightArrow {
  display: inline-block;
  animation: pulseArrow 0.8s ease-in-out infinite;
}
button {
  cursor: pointer;
}
.buttonGetInTouch {
  background: #4B7DE3;
  background-image: linear-gradient(-90deg, #8E6BEB 0%, #4B7DE3 100%);
  border-radius: 4px;
  padding: 14px 24px;
}
.buttonWhat1 {
  background: #DBC5F7;
  color: #A049FF;
}
.buttonWhat2 {
  background: #D1CFF7;
  color: #766FFF;
}
.buttonWhat3 {
  margin-top: 24px;
  background: #C4D3F7;
  color: #437EFF;
}
.buttonWhat4 {
  background: #41B9FF;
  color: white;
}
.sectionWorld {
  margin-top: 120px;
}
.sectionWorld .worldOval {
  position: absolute;
  left: -90px;
  top: -120px;
  z-index: -1;
}
.sectionWorld .worldOval svg {
  overflow: visible;
}
.sectionWorld .worldTextTop .textTitle {
  max-width: 450px;
}
.sectionWorld .worldTextTop .textLight {
  max-width: 340px;
}
.sectionWorld .teamImgs img {
  width: 100%;
}
@media (max-width: 699px) {
  .sectionWorld .teamImgs {
    margin: 40px -40px 0 -40px;
  }
  .sectionWorld .teamImgs > div {
    width: 100%;
    margin-top: 12px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
  }
  .sectionWorld .teamImgs > div div + div {
    margin-left: 12px;
  }
  .sectionWorld .teamImgs .first {
    align-items: flex-end;
    -webkit-align-items: flex-end;
    -ms-align-items: flex-end;
  }
  .sectionWorld .teamImgs .last > div:last-child {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
  }
}
@media (min-width: 700px) {
  .sectionWorld .teamImgs {
    margin-top: -20px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
  }
  .sectionWorld .teamImgs > div:first-child {
    -webkit-flex: 1.2;
    -webkit-box-flex: 1.2;
    -ms-flex: 1.2;
    flex: 1.2;
  }
  .sectionWorld .teamImgs > div:last-child {
    -webkit-flex: 1;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .sectionWorld .teamImgs > div {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    align-items: flex-end;
    -webkit-align-items: flex-end;
    -ms-align-items: flex-end;
  }
  .sectionWorld .teamImgs > div > div {
    margin: 0 10px;
  }
  .sectionWorld .teamImgs .last > div:first-child {
    -webkit-flex: 1.6;
    -webkit-box-flex: 1.6;
    -ms-flex: 1.6;
    flex: 1.6;
  }
  .sectionWorld .teamImgs .last > div:last-child {
    -webkit-flex: 1;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .sectionWorld .teamImgs > div:last-child {
    width: 16%;
  }
  .sectionWorld .teamImgs > div:last-child img:last-child {
    margin-top: 16px;
  }
}
.sectionWorld .worldTextBottom div {
  text-align: left;
  max-width: 250px;
  margin: 40px 30px 0 auto;
}
@media (max-width: 1080px) {
  .sectionWorld .worldTextBottom div {
    margin-bottom: 60px;
  }
}
@media (min-width: 700px) {
  .sectionWorld {
    padding: 0 0 60px 0;
  }
  .sectionWorld .worldTextTop {
    margin-left: 60px;
  }
  .sectionWorld .worldTextTop .textLight {
    margin-top: 20px;
  }
  .sectionWorld .worldTextBottom {
    margin-top: 50px;
    max-width: 340px;
    margin-right: 170px;
    margin-left: auto;
  }
}
@media (max-width: 699px) {
  .sectionWorld .textTitle {
    max-width: 320px !important;
  }
  .sectionWorld .textLight {
    max-width: 280px !important;
  }
}
.sectionTeam {
  background-image: linear-gradient(158deg, #2E1E76 0%, #3B6CC1 97%);
  padding: 100px 0;
  color: #B0B5CD;
}
.sectionTeam .textTitle {
  color: white;
}
.sectionTeam .teamGrid {
  width: 100%;
  padding: 0 20px;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.sectionTeam .teamGrid > div {
  -webkit-flex: 1;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
@media (max-width: 699px) {
  .sectionTeam .teamGrid > div {
    min-width: 40%;
    max-width: 605px;
  }
}
@media (min-width: 700px) {
  .sectionTeam .teamGrid > div {
    min-width: 25%;
    max-width: 302.5px;
  }
}
.sectionTeam .teamPos {
  font-weight: bold;
}
.sectionTeam .teamText {
  width: 110%;
}
.sectionTeam .teamPerson > img {
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
}
.sectionTeam .teamPerson .teamName {
  color: #D4B166;
  font-weight: 900;
  line-height: 1;
}
.sectionTeam .teamPerson .teamTime {
  margin: -48px -8px 0 0;
  text-align: right;
  color: white;
  opacity: 0.5;
  font-weight: bold;
}
.sectionTeam .teamClients {
  margin-top: 80px;
  color: white;
  opacity: 0.72;
}
.sectionTeam .teamClients > div {
  max-width: 1000px;
}
.sectionTeam .teamClients img {
  margin-top: 40px;
  width: 100%;
}
.sectionTeam .teamStats > div div:first-child {
  color: white;
  margin-top: 12px;
  font-weight: bold;
}
.sectionTeam .teamStats > div div:last-child {
  line-height: 1.1;
  font-weight: 500;
}
.sectionTeam .teamBattle {
  padding-top: 160px;
}
.sectionTeam .teamBattle > div:last-child {
  color: white;
  margin-top: 40px;
}
@media (min-width: 700px) and (max-width: 900px) {
  .sectionTeam .teamText {
    width: 140% !important;
  }
}
@media (max-width: 699px) {
  .sectionTeam .teamStatsDe,
  .sectionTeam .empty,
  .sectionTeam .teamBattle {
    display: none;
  }
  .sectionTeam .textTitle {
    color: white;
  }
  .sectionTeam .teamText {
    width: 100% !important;
  }
  .sectionTeam .teamTitle,
  .sectionTeam .teamText {
    margin: 0 auto;
  }
  .sectionTeam .teamStatsMo {
    min-width: 100% !important;
    max-width: 100% !important;
    margin-bottom: 40px;
  }
  .sectionTeam .teamStatsMo .teamStats {
    max-width: 300px;
    margin: 0 auto;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .sectionTeam .teamStatsMo .teamStats > div {
    width: 33%;
  }
  .sectionTeam .teamTitle {
    max-width: 300px !important;
  }
  .sectionTeam .teamTime {
    font-size: 20px;
  }
  .sectionTeam .teamPerson {
    padding-bottom: 40px;
    margin: 0 10px;
  }
  .sectionTeam .teamName {
    font-size: 20px;
  }
  .sectionTeam .teamPos,
  .sectionTeam .teamCountry {
    font-size: 12px;
  }
  .sectionTeam .clientsDe {
    display: none;
  }
  .sectionTeam .teamStats > div div:first-child {
    font-size: 22px;
  }
  .sectionTeam .teamStats > div div:last-child {
    font-size: 11px;
    margin-top: -5px;
  }
}
@media (min-width: 700px) {
  .sectionTeam .teamTitle > div {
    margin-right: -100px;
  }
  .sectionTeam .teamStatsMo {
    display: none;
  }
  .sectionTeam .teamStatsDe {
    margin-top: -80px;
    padding-left: 40px;
  }
  .sectionTeam .teamPerson {
    padding: 0 32px 40px 0;
  }
  .sectionTeam .teamTime {
    font-size: 22px;
  }
  .sectionTeam .teamName {
    font-size: 24px;
  }
  .sectionTeam .clientsMo {
    display: none;
  }
  .sectionTeam .teamStats > div div:first-child {
    font-size: 28px;
  }
  .sectionTeam .teamStats > div div:last-child {
    font-size: 15px;
  }
}
.sectionClients {
  margin-top: -40px;
}
.sectionClients > div {
  align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
}
.sectionClients > div + div {
  margin-top: 60px;
}
.sectionClients .clientRight {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.sectionClients .clientRight .clientText {
  padding-left: 40px;
}
.sectionClients .clientImg {
  position: relative;
  margin: 0 16px;
  -webkit-flex: 1.1;
  -webkit-box-flex: 1.1;
  -ms-flex: 1.1;
  flex: 1.1;
}
.sectionClients .clientImg > img:not(:first-child) {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.sectionClients .clientText {
  -webkit-flex: 1;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.sectionClients .spacer {
  max-width: 60px;
}
.sectionClients .companyLogo {
  margin-right: -300px;
}
.sectionClients .companyLogo div {
  display: inline-block;
  vertical-align: bottom;
}
.sectionClients .companyLogo div:last-child {
  margin: 0 0 20px -8px;
}
.sectionClients .companyLogo div:last-child img {
  height: 80px;
}
.sectionClients .companyLogo img {
  height: 60px;
}
.sectionClients .companyWriteup {
  max-width: 450px;
}
.sectionClients .companyWriteup p {
  margin: 1.5em 0;
}
@media (min-width: 1080px) {
  .sectionClients .clientMcDonalds .textBig {
    margin-right: -100px;
  }
}
.sectionClients .clientMyKicks .textBig {
  margin-right: -50px;
}
.sectionClients .textBig {
  margin-top: 20px;
  font-size: 28px;
  font-weight: 900;
  line-height: 1.3;
}
@media (max-width: 1080px) {
  .sectionClients .textBig {
    font-size: 22px;
  }
}
.sectionClients .textSmall {
  font-size: 15px;
}
@media (max-width: 1080px) {
  .sectionClients .textSmall {
    font-size: 12px;
  }
}
.sectionClients .textSmall ul {
  padding: 0;
  margin: 0;
}
.sectionClients .textSmall li {
  position: relative;
  list-style: none;
  margin-left: 20px;
  overflow: visible;
  line-height: 1.6;
}
.sectionClients .textSmall li:before {
  content: '';
  position: absolute;
  left: -20px;
  top: 6px;
  display: inline-block;
  width: 12px;
  height: 16px;
  background-size: contain;
  background-image: url('img/logoBullet.png');
}
@media (min-width: 700px) {
  .sectionClients > div {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
  }
  .sectionClients .clientMyKicks .clientText {
    margin-top: -80px;
  }
  .sectionClients .clientWeInvest .clientText {
    margin-top: -80px;
  }
}
@media (max-width: 699px) {
  .sectionClients > div {
    max-width: 500px;
    margin: 0 auto;
  }
  .sectionClients .clientText {
    padding: 0 !important;
  }
  .sectionClients .companyLogo > div:last-child {
    margin-bottom: 10px;
  }
  .sectionClients .companyLogo > div:last-child img {
    height: 60px;
  }
}
.smallTeamText {
  max-width: 560px;
  margin: 0 auto 100px auto;
}
.sectionTestimonials {
  z-index: 1;
  position: relative;
  padding-top: 20px;
  -webkit-user-select: none;
  user-select: none;
}
@media (max-width: 600px) {
  .sectionTestimonials {
    padding-bottom: 60px;
  }
  .sectionTestimonials .logoBig {
    display: none;
  }
  .sectionTestimonials .sectionHeader {
    font-size: 24px;
  }
}
@media (min-width: 601px) {
  .sectionTestimonials {
    padding-bottom: 80px;
  }
}
.sectionTestimonials .testimonialsTitle {
  max-width: 400px;
}
@media (max-width: 699px) {
  .sectionTestimonials .testimonialsTitle {
    margin-left: 40px;
  }
}
@media (min-width: 700px) {
  .sectionTestimonials .testimonialsTitle {
    margin-left: auto;
  }
}
.sectionTestimonials .testimonialsOval {
  position: absolute;
  right: -100px;
  top: 60px;
  z-index: -1;
}
.sectionTestimonials .testimonialsOval svg {
  overflow: visible;
}
.testimonials {
  left: 0;
  right: 0;
  z-index: 1;
  margin-top: -50px;
  height: 600px;
  overflow: hidden;
  text-align: center;
}
.testimonials .scroller {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  z-index: 1;
  height: 100%;
  padding-bottom: 20px;
  box-sizing: content-box;
  /* So the width will be 100% + 17px */
  max-width: 1960px;
  margin: 0 auto;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.testimonials .scroller.dragging {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing;
}
.testimonials .scroller > div {
  white-space: normal;
  display: inline-block;
  width: 300px;
  height: 420px;
  margin-top: 120px;
  vertical-align: top;
}
.testimonials .scroller > div + div {
  margin-left: 36px;
}
.testimonials .scroller > div:nth-child(2) {
  margin-top: 150px;
}
.testimonials .scroller > div:nth-child(3) {
  margin-top: 90px;
}
.testimonials .scroller > div:nth-child(4) {
  margin-top: 30px;
}
@media (max-width: 1210px) {
  .testimonials .scroller {
    padding-left: 40px;
    padding-right: 40px;
  }
  .testimonials .scroller > div + div {
    margin-left: 16px;
  }
}
@media (min-width: 1211px) {
  .testimonials .scroller {
    padding: 0 80px;
  }
}
.testimonials .testimonialLogo {
  text-align: center;
  margin-top: 40px;
}
.testimonials .testimonialLogo img {
  height: 50px;
}
.testimonials .whiteBox {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: space-around;
  -ms-justify-content: space-around;
  -webkit-justify-content: space-around;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -webkit-box-orient: vertical;
}
.whiteBox {
  position: relative;
  padding: 32px;
  background: white;
  box-shadow: 0px 6px 30px rgba(92, 95, 101, 0.15);
}
.whiteBox .text {
  height: 180px;
  font-size: 14px;
}
.whiteBox .title {
  font-weight: 900;
  font-size: 22px;
  line-height: 1.25;
  margin-bottom: 12px;
}
.whiteBox .person {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.3;
  color: #63687C;
}
.whiteBox .person .face {
  height: 44px;
}
.whiteBox .person .name {
  margin: 12px 0;
}
.whiteBox .person .logo {
  height: 20px;
}
.iconHeart {
  fill: red;
  position: relative;
  top: 3px;
  width: 16px;
  margin: 0 6px;
  animation: pulse 1s ease infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.timeColon {
  animation: pulseOpacity 2s ease infinite;
}
@keyframes pulseOpacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
.fill {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.flexvert {
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: space-around;
  -ms-justify-content: space-around;
  -webkit-justify-content: space-around;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -webkit-box-orient: vertical;
}
.flex-center {
  justify-content: center;
  -ms-justify-content: center;
  -webkit-justify-content: center;
}
.flex-wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.f1 {
  -webkit-flex: 1;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.abs {
  position: absolute;
}
.shape {
  max-width: 1370px;
  margin: 0 auto;
}
.shape img {
  width: 100%;
}
.shapesvg {
  position: relative;
  max-width: 3000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.shapesvg svg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 120vw;
  min-width: 1000px;
  max-width: 3000px;
  margin-top: -3px;
  height: 100%;
  height: calc(100% + 6px);
}
.shapeCover {
  background: #F9F9FA;
}
.shapeUnlock {
  margin-top: -350px;
  z-index: -1;
}
.shapeFooter {
  margin-top: -140px;
  z-index: 2;
}
@media (max-width: 720px) {
  .shapeFooter {
    margin-top: -160px;
  }
}
a {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-size: 17px;
  margin: 0;
  width: 100%;
  line-height: 1.5;
  overflow-x: hidden;
  color: #2D344F;
  font-family: 'Aktiv', 'Helvetica Neue', Helvetica, Arial, Sans-serif;
  text-rendering: optimizeLegibility;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  scroll-behavior: smooth;
}
.fontTitle {
  font-weight: 500;
}
.text {
  color: #2D344F;
}
.textLight {
  color: #63687C;
}
.textTitle {
  position: relative;
  font-size: 32px;
  line-height: 1.4;
  font-weight: 900;
  padding-bottom: 16px;
}
@media (max-width: 1080px) {
  .textTitle {
    font-size: 24px;
  }
}
.header {
  position: relative;
}
.topBarCommon {
  text-align: right;
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  height: 30px;
  padding: 0 32px;
  margin-top: 30px;
  z-index: 2;
}
.topBarCommon a:not(.headerLeft) {
  margin-left: 8px;
  margin-right: 8px;
  text-decoration: none;
}
.topBarCommon * {
  white-space: nowrap;
}
.topBarCommon .headerLeft,
.topBarCommon .headerLogo {
  height: 44px;
}
@media (max-width: 520px) {
  .topBarCommon .headerRight {
    display: none;
  }
}
@media (min-width: 521px) {
  .topBarCommon .hamburger {
    display: none;
  }
}
@media (max-width: 800px) {
  .topBarCommon .headerLogoDark {
    display: none;
  }
}
@media (min-width: 801px) {
  .topBarCommon .headerLogoWhite {
    display: none;
  }
}
.topBar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.topBar a:not(.headerLogo) {
  color: white;
}
.headerOutside {
  position: relative;
  width: 100%;
}
.headerInside {
  position: relative;
}
.headerInside .button {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}
.headerInside .headerInsideRight img {
  width: 100%;
  width: calc(100% + 190px);
}
@media (min-width: 900px) {
  .headerInside .spacerLeft {
    flex: 0 1 80px;
  }
}
@media (min-width: 721px) {
  .headerInside {
    height: 690px;
  }
  .headerInside .headerInsideLeft {
    flex: 1;
    flex: 1 1 440px;
    min-width: 310px;
  }
  .headerInside .headerInsideRight {
    flex: 1.25;
    flex: 1 1 600px;
  }
}
@media (max-width: 720px) {
  .headerInside {
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: space-around;
    -ms-justify-content: space-around;
    -webkit-justify-content: space-around;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-box-orient: vertical;
  }
  .headerInside .headerInsideLeft {
    align-self: center;
  }
  .headerInside .headerInsideRight {
    width: 90%;
    max-width: 500px;
    align-self: flex-end;
  }
}
.headerInsideLeft {
  position: relative;
  margin-top: -60px;
  justify-content: center;
  -ms-justify-content: center;
  -webkit-justify-content: center;
}
.headerInsideLeft .headerOval {
  position: absolute;
  left: -60px;
  top: -20px;
}
.headerInsideLeft .headerOval svg {
  overflow: visible;
}
.headerInsideLeft .textTitle {
  font-size: 38px;
  line-height: 1.2;
  font-weight: 900;
  padding: 0;
}
@media (min-width: 561px) {
  .headerInsideLeft .textTitle {
    margin-right: -100px;
  }
}
@media (max-width: 560px) {
  .headerInsideLeft .textTitle {
    font-size: 32px;
  }
}
.headerInsideLeft .textLight {
  max-width: 410px;
  margin: 16px 0 24px 0;
}
.pageContact .topBar a {
  color: inherit;
}
.pageContact .sectionContact {
  padding-top: 140px;
  align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
}
.pageContact .contactLeft > div {
  max-width: 420px;
}
.pageContact .contactLeft {
  padding-top: 40px;
  -webkit-flex: 0 1 420px;
  -webkit-box-flex: 0 1 420px;
  -ms-flex: 0 1 420px;
  flex: 0 1 420px;
}
.pageContact .contactRight {
  align-items: flex-end;
  -webkit-align-items: flex-end;
  -ms-align-items: flex-end;
}
.pageContact .contactRight img {
  height: 400px;
}
.pageContact .icon-send {
  margin-left: 16px;
  font-size: 15px;
}
.pageContact .textTitle {
  padding: 0;
  line-height: 1;
  font-weight: 900;
}
.pageContact .textLight {
  padding: 20px 0;
}
.pageContact #contact {
  margin-top: 20px;
}
.pageContact #contact fieldset > div + div {
  margin-top: 30px;
}
.pageContact input,
.pageContact textarea {
  padding: 0 8px;
  font-size: inherit;
  width: 100%;
}
.pageContact input::placeholder,
.pageContact textarea::placeholder {
  color: #999;
}
.pageContact input + input {
  margin-left: 16px;
}
.pageContact fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
.pageContact .text {
  font-weight: bold;
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 8px;
}
.pageContact input,
.pageContact textarea,
.pageContact button {
  -webkit-appearance: none;
}
.pageContact input {
  display: block;
  line-height: 30px;
  border: 0;
  border-bottom: 1px solid #ddd;
}
.pageContact textarea {
  height: 160px;
  padding: 12px;
  font-weight: normal;
  resize: none;
  border: 1px solid #ddd;
}
.pageContact input[type="submit"] {
  position: absolute;
  bottom: -48px;
  right: 16px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}
.pageContact .spacerLeft {
  max-width: 100px;
  -webkit-flex: 0.1;
  -webkit-box-flex: 0.1;
  -ms-flex: 0.1;
  flex: 0.1;
}
.pageContact .spacerMiddle {
  max-width: 150px;
  -webkit-flex: 0.5;
  -webkit-box-flex: 0.5;
  -ms-flex: 0.5;
  flex: 0.5;
}
.pageContact .spacerRight {
  max-width: 100px;
  -webkit-flex: 0.25;
  -webkit-box-flex: 0.25;
  -ms-flex: 0.25;
  flex: 0.25;
}
.pageContact .subtitle {
  font-size: 12px;
  padding: 0 0 40px 40px;
  min-width: 150px;
}
.pageContact button {
  box-shadow: none;
  border: none;
  display: block;
  margin-left: auto;
  line-height: 30px;
}
@media (max-width: 1000px) {
  .pageContact .subtitle {
    display: none;
  }
}
@media (max-width: 840px) {
  .pageContact .contactRight {
    display: none;
  }
  .pageContact .spacer {
    max-width: none !important;
    -webkit-flex: 1 !important;
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 !important;
    flex: 1 !important;
  }
}
.pageContact .bottomHeart span {
  color: inherit;
}
[data-aos="spring-in"].aos-animate {
  animation: springIn 1s ease-in-out;
}
[data-aos-delay="600"] {
  animation-delay: 600ms !important;
}
[data-aos-delay="200"] {
  animation-delay: 200ms !important;
}
@keyframes springIn {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.96);
  }
  100% {
    transform: scale(1);
  }
}
/*******************************
******* Error / Success ********
*******************************/
#success,
#error {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.9);
}
#success > div,
#error > div {
  text-align: center;
  height: 100%;
}
#success h1,
#error h1 {
  margin-bottom: 0;
  color: #005ebf;
}
#success p,
#error p {
  color: #747474;
}
@media all and (max-width: 480px) {
  #success h1,
  #error h1 {
    font-size: 60px;
  }
}
.aboutTopBar {
  margin-bottom: 120px;
}
.aboutTopBar a:not(.b) {
  color: #777;
}
.aboutTopBar a.b {
  color: inherit;
}
.aboutHeaderText {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.1;
  color: #b7b9c1;
  margin-bottom: 36px;
}
.aboutHeader {
  max-width: 1030px;
  margin: 0 auto;
}
.aboutHeader .f1.b {
  font-size: 28px;
  font-weight: 900;
  line-height: 1.3;
}
.aboutHeader .f1 + .f1 {
  margin-top: 20px;
}
@media (min-width: 701px) {
  .aboutHeader .f1 + .f1 {
    margin-left: 80px;
  }
}
@media (max-width: 700px) {
  .aboutHeader .flexbox {
    display: block;
  }
}
.today {
  position: relative;
}
@media (max-width: 800px) {
  .today {
    margin-top: 60px;
  }
}
@media (min-width: 801px) {
  .today {
    margin-top: 100px;
  }
}
.today .shapeWrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.today .bg {
  background: #f0f0f5;
}
@media (max-width: 800px) {
  .today .macbookImgWrapperOuter {
    padding-right: 0;
  }
}
.today .macbookImgWrapper {
  margin-left: auto;
  z-index: 1;
}
@media (min-width: 801px) {
  .today .macbookImgWrapper {
    max-width: 80%;
  }
}
.today .macbookImgWrapper img {
  width: 100%;
}
.grid {
  display: grid;
}
.aboutTopWrapper {
  background: #f0f0f5;
  z-index: 1;
}
@media (max-width: 800px) {
  .aboutTopWrapper {
    padding-top: 60px;
    margin-bottom: -180px;
  }
}
@media (min-width: 801px) {
  .aboutTopWrapper {
    padding-top: 100px;
    margin-bottom: -100px;
  }
}
.aboutTop {
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 800px) {
  .aboutTop {
    font-size: 16px;
  }
}
@media (min-width: 801px) {
  .aboutTop {
    font-size: 18px;
  }
}
.aboutTop img {
  width: 100%;
}
.aboutTop a {
  color: #63687C;
  font-weight: bold;
  text-decoration: underline;
}
@media (min-width: 961px) {
  .aboutTop {
    padding: 0 !important;
  }
  .aboutTop .text1 {
    grid-column: 1;
    grid-row: 3 / 9;
    padding: 0 70px;
  }
  .aboutTop .img1 {
    grid-column: 2;
    grid-row: 1 / 8;
    padding: 40px 0 0 80px;
  }
  .aboutTop .img1 img {
    position: relative;
    bottom: 0;
    right: 0;
  }
  .aboutTop .img2 {
    grid-column: 1;
    grid-row: 10 / 14;
    padding-right: 80px;
  }
  .aboutTop .img3 {
    grid-column: 2;
    grid-row: 8 / 12;
    padding-top: 30px;
  }
  .aboutTop .text2 {
    grid-column: 2;
    grid-row: 13 / 15;
    padding: 0 160px 0 0;
  }
}
@media (max-width: 960px) {
  .aboutTop .text1 {
    grid-column: 1 / 3;
    grid-row: 1;
    padding-bottom: 30px;
  }
  .aboutTop .img1 {
    grid-column: 2;
    grid-row: 2;
    margin-right: -40px;
    padding-left: 6px;
  }
  .aboutTop .img2 {
    grid-column: 1;
    grid-row: 2 / 4;
    margin-left: -40px;
    padding-right: 6px;
  }
  .aboutTop .img2 img {
    object-fit: cover;
    height: 80%;
    margin-top: 10%;
  }
  .aboutTop .img3 {
    grid-column: 2;
    grid-row: 3;
    margin-right: -40px;
    padding-left: 6px;
    padding-top: 12px;
  }
  .aboutTop .text2 {
    grid-column: 1 / 3;
    grid-row: 4;
    padding-top: 30px;
  }
}
.shapeMission {
  z-index: -1;
}
@media (max-width: 800px) {
  .sectionMissionAbout {
    margin-top: -320px;
  }
}
@media (min-width: 801px) {
  .sectionMissionAbout {
    margin-top: -240px;
  }
}
.proudSvg .melewilogo {
  position: absolute;
  top: 0px;
  right: 80px;
  width: 60px;
  z-index: 1;
}
@media (max-width: 800px) {
  .proudSvg .melewilogo {
    top: 80px;
  }
}
@media (min-width: 801px) {
  .proudSvg {
    margin-top: 120px;
  }
}
.sectionProud {
  position: relative;
  background: #2A314B;
  padding-bottom: 40px;
}
@media (min-width: 801px) {
  .sectionProud .proudHeader {
    margin-left: 100px;
  }
}
@media (max-width: 800px) {
  .sectionProud .sectionHeader {
    font-size: 24px;
    padding-right: 80px;
  }
}
.sectionProud .sectionGreenHeader {
  margin-top: -100px;
}
.sectionProud .sectionHeader {
  color: white;
  max-width: 440px;
}
.sectionProud .proudImg {
  background-size: 100%;
  width: 100%;
}
@media (max-width: 800px) {
  .sectionProud .proudImg {
    background-image: url('img/gridmobile.png');
    padding-top: 278.625%;
    margin-top: 40px;
  }
}
@media (min-width: 801px) {
  .sectionProud .proudImg {
    background-image: url('img/griddesktop.png');
    padding-top: 82.58683729%;
    margin-top: 80px;
  }
}
.imgFull img {
  width: 100%;
}
.sectionVision {
  background: #2A314B;
}
@media (max-width: 800px) {
  .sectionVision .mw {
    padding: 0;
  }
  .sectionVision .imgFull {
    width: 300%;
    margin-left: -110%;
  }
}
.sectionVision .abs {
  width: 100%;
  height: 100%;
}
.sectionVision .sectionHeader {
  color: white;
}
.sectionAboutTeam {
  padding-top: 100px;
  text-align: left;
  background: #F9F9FA;
}
.sectionAboutTeam .teamHeader {
  margin: 0 auto;
  max-width: 540px;
}
.sectionAboutTeam .sectionHeader {
  max-width: 540px;
  margin-bottom: 60px;
}
@media (max-width: 800px) {
  .sectionAboutTeam .sectionHeader {
    font-size: 24px;
  }
}
.sectionAboutTeam .teamInfo {
  position: absolute;
  bottom: 10px;
}
.sectionAboutTeam .teamName {
  color: white;
  font-weight: 900;
  line-height: 1.2;
}
.sectionAboutTeam .teamCountry {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
}
@media (min-width: 801px) {
  .sectionAboutTeam .f1 > div > div {
    padding: 0 20px;
  }
  .sectionAboutTeam .teamName {
    font-size: 24px;
  }
  .sectionAboutTeam .f1:nth-child(2) {
    padding-top: 40px;
  }
  .sectionAboutTeam .f1:nth-child(3) {
    padding-top: 60px;
  }
  .sectionAboutTeam .f1:nth-child(4) {
    padding-top: 20px;
  }
}
@media (max-width: 800px) {
  .sectionAboutTeam .f1 > div > div {
    padding: 0 10px;
  }
  .sectionAboutTeam .teamImages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.shapeAboutTeam {
  background-color: white;
  margin-top: -280px;
  z-index: -1;
  margin-right: -100px;
}
.servicesHeader {
  max-width: 1100px;
}
.shapesServicesTop {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -400px;
  z-index: -1;
}
.shapesServicesTop .shapeSpacer {
  height: 400px;
  background: #F0F0F5;
}
.servicesGrid {
  grid-template-columns: repeat(30, 1fr);
  max-width: 1100px;
}
.servicesGrid .text1 {
  font-size: 28px;
  font-weight: 900;
  line-height: 1.3;
  grid-column: 1 / 14;
  grid-row: 1 / 3;
}
.servicesGrid .text2 {
  font-size: 19px;
  grid-column: 17 / 31;
  grid-row: 2 / 6;
}
.servicesGrid .text2 > p:first-child {
  margin-top: 0;
}
.servicesGrid .img1 {
  grid-column: 1 / 14;
  grid-row: 5 / 20;
}
.servicesGrid .img2 {
  grid-column: 15 / 31;
  grid-row: 7 / 16;
}
.servicesGrid .whiteBox {
  margin-top: 30px;
  grid-column: 15 / 26;
  grid-row: 16 / 26;
}
@media (max-width: 700px) {
  .servicesGrid {
    display: block;
  }
  .servicesGrid .imgFull {
    margin: 40px -40px 40px 40px;
  }
  .servicesGrid .img1,
  .servicesGrid .whiteBox {
    display: none;
  }
}
.sectionCoachingWrapper {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}
.sectionCoachingWrapper .sectionCoachingGrid {
  grid-template-columns: repeat(30, 1fr);
}
@media (max-width: 700px) {
  .sectionCoachingWrapper .sectionCoachingGrid {
    display: block;
  }
  .sectionCoachingWrapper .sectionCoachingGrid .img1 {
    margin: 40px -40px 40px 40px;
  }
  .sectionCoachingWrapper .sectionCoachingGrid .img3 {
    margin: 40px 40px 40px -40px;
  }
  .sectionCoachingWrapper .sectionCoachingGrid .img2,
  .sectionCoachingWrapper .sectionCoachingGrid .img4 {
    display: none;
  }
}
.sectionCoachingWrapper .button {
  padding: 8px 24px;
  border-radius: 4px;
  margin-top: 20px;
}
.sectionCoachingWrapper .text1 {
  grid-column: 1 / 14;
  grid-row: 2 / 7;
}
.sectionCoachingWrapper .text1 .sectionGreenHeader {
  color: #62B9F9;
}
.sectionCoachingWrapper .text1 .button {
  background: #62B9F9;
}
.sectionCoachingWrapper .img1 {
  grid-column: 17 / 31;
  grid-row: 1 / 5;
}
.sectionCoachingWrapper .img2 {
  grid-column: 14 / 27;
  grid-row: 5 / 10;
  margin-top: 30px;
}
.sectionCoachingWrapper .img3 {
  grid-column: 1 / 13;
  grid-row: 8 / 16;
}
.sectionCoachingWrapper .img4 {
  grid-column: 1 / 10;
  grid-row: 16 / 20;
  margin-top: 30px;
}
.sectionCoachingWrapper .text2 {
  grid-column: 16 / 29;
  grid-row: 13 / 20;
}
.sectionCoachingWrapper .text2 .sectionGreenHeader {
  color: #485EDE;
}
.sectionCoachingWrapper .text2 .button {
  background: #485EDE;
}
.sectionServicesCover {
  padding-top: 50px;
  padding-bottom: 100px;
  background: #F8F9FB;
}
.sectionServicesCover .coverBlocks {
  margin-top: 80px;
}
.sectionServicesCover .coverBlocks > div {
  padding: 0 40px;
}
@media (max-width: 700px) {
  .sectionServicesCover .coverBlocks {
    display: block;
  }
}
@media (min-width: 701px) {
  .sectionServicesCover .coverBlocks > *:nth-child(1) {
    order: 1;
  }
  .sectionServicesCover .coverBlocks > *:nth-child(4) {
    order: 2;
  }
  .sectionServicesCover .coverBlocks > *:nth-child(2) {
    order: 3;
  }
  .sectionServicesCover .coverBlocks > *:nth-child(5) {
    order: 4;
  }
  .sectionServicesCover .coverBlocks > *:nth-child(3) {
    order: 5;
  }
  .sectionServicesCover .coverBlocks > *:nth-child(6) {
    order: 6;
  }
}
.sectionServicesCover .icon {
  margin-right: 20px;
}
.sectionServicesCover .grid {
  grid-template-columns: repeat(2, 1fr);
}
.sectionServicesTestimonials {
  margin-top: -40px;
}
@media (max-width: 720px) {
  .sectionServicesTestimonials .sectionHeader {
    font-size: 24px;
    margin-right: 20px;
  }
}
@media (min-width: 721px) {
  .sectionServicesTestimonials .sectionHeader {
    max-width: 500px;
  }
}
#pageContact {
  min-height: 100%;
}
#pageContact .contactHeader {
  z-index: 1;
}
#pageContact .contactHeader .b {
  font-size: 28px;
  font-weight: 900;
  line-height: 1.3;
}
#pageContact .contactHeader .b + div:not(.b) {
  margin-top: 12px;
  font-size: 20px;
  color: #63687C;
}
#pageContact .contactHeader a {
  color: #63687C;
  font-weight: bold;
  text-decoration: underline;
}
#pageContact .contactBox {
  box-shadow: 0px 6px 30px rgba(92, 95, 101, 0.15);
  padding: 60px 0;
  max-width: 400px;
  margin-top: 80px;
  background: white;
}
#pageContact #contact {
  width: 300px;
  margin: 0 auto;
}
#pageContact #contact input,
#pageContact #contact textarea {
  padding: 0 24px;
  font-size: inherit;
  background-color: #EAEBF0;
  width: 100%;
  margin-bottom: 16px;
  border-radius: 32px;
  font-size: 14px;
}
#pageContact #contact input::placeholder,
#pageContact #contact textarea::placeholder {
  color: rgba(0, 0, 0, 0.6);
}
#pageContact #contact fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
#pageContact #contact .text {
  font-weight: bold;
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 8px;
}
#pageContact #contact input,
#pageContact #contact textarea,
#pageContact #contact button {
  -webkit-appearance: none;
}
#pageContact #contact input {
  display: block;
  line-height: 44px;
  border: 0;
  border-radius: 16px;
}
#pageContact #contact textarea {
  height: 160px;
  padding: 24px;
  font-weight: normal;
  resize: none;
  border: none;
}
#pageContact #contact input[type="submit"] {
  position: absolute;
  bottom: -48px;
  right: 16px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}
#pageContact #contact .button {
  display: block;
  width: 100%;
  text-align: center;
}
#pageContact .shapeUnlock {
  transform: scaleX(-1);
  margin-top: -600px;
}
@media (max-width: 800px) {
  #pageContact .contactTop {
    display: block !important;
  }
  #pageContact .contactTop > div {
    margin: 0 auto;
  }
  #pageContact .contactTop .contactBox {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 530px) {
  #pageContact .b {
    display: inline;
  }
}
#hambugerMenu {
  position: absolute;
  top: 60px;
  right: 16px;
  z-index: 101;
  background: white;
  text-align: left;
  padding: 8px 0;
  border-radius: 8px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 0 16px 0 rgba(0, 0, 0, 0.5);
}
#hambugerMenu:not(.is-active) {
  display: none;
}
#hambugerMenu a {
  display: block;
  margin: 0;
  color: #222;
  line-height: 50px;
  font-size: 17px;
  font-weight: 500;
  padding: 0 32px;
}
.hamburger {
  padding: 24px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: -12px;
  overflow: visible;
  z-index: 100;
  height: 72px;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after,
.hamburger .hamburger-inner,
.hamburger .hamburger-inner::before,
.hamburger .hamburger-inner::after {
  background-color: #444;
}
.hamburger.white.is-active .hamburger.white-inner,
.hamburger.white.is-active .hamburger.white-inner::before,
.hamburger.white.is-active .hamburger.white-inner::after,
.hamburger.white .hamburger-inner,
.hamburger.white .hamburger-inner::before,
.hamburger.white .hamburger-inner::after {
  background-color: white;
}
.hamburger-box {
  width: 24px;
  height: 24px;
  display: inline-block;
  position: relative;
}
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 24px;
  height: 3px;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}
.hamburger--slider .hamburger-inner {
  top: 2px;
}
.hamburger--slider .hamburger-inner::before {
  top: 8px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.15s;
}
.hamburger--slider .hamburger-inner::after {
  top: 16px;
}
.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 6px, 0) rotate(45deg);
}
.hamburger--slider.is-active .hamburger-inner::before {
  transform: rotate(-45deg) translate3d(-6px, -6px, 0);
  opacity: 0;
}
.hamburger--slider.is-active .hamburger-inner::after {
  transform: translate3d(0, -16px, 0) rotate(-90deg);
}
