/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Global Reset */
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
p + p,
ul + p {
  margin-top: 1em;
}
a {
  color: #069;
  text-decoration: none;
}
a:hover {
  color: #09d;
}
/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}
.posts > li {
  margin-bottom: 3em;
}
/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.container {
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.5em;
  text-align: left;
  font-size: 115%;
}
.header {
  position: relative;
  font-size: 115%;
}
.profile {
  background: url('/img/profile.jpg');
  width: 100px;
  height: 100px;
  margin: 0 auto 10px auto;
  border-radius: 50%;
}
.headerContent {
  padding-top: 40px;
  padding-bottom: 60px;
  margin: 0 auto;
  width: 204px;
  line-height: 35px;
  text-align: center;
}
.location {
  color: #999;
  position: relative;
  margin-left: 15px;
}
.location > span {
  margin-right: 8px;
  font-size: 13pt;
  display: block;
  position: absolute;
  left: -15px;
  top: 0;
}
.header a {
  text-decoration: none;
}
.headerFooter {
  width: 800px;
  margin: 0 auto;
  line-height: 25px;
  margin-bottom: 60px;
}
.headerFooter .headerFooterInner {
  width: 500px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.headerFooter .headerFooterInner > div {
  padding: 10px 0;
  -webkit-flex: 1;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0 50px;
}
.navbarHeader {
  font-weight: 100;
  font-size: 16pt;
  color: #999;
  margin-bottom: 10px;
}
.headerFooterLeft {
  float: left;
}
.headerFooterRight {
  float: right;
}
.headerFooter > div > div {
  padding: 0 20px;
}
.headerFooter > div > div:first-child {
  padding-left: 15px;
  border-left: none;
}
.headerFooter > div > div:last-child {
  padding-right: 15px;
  border-right: none;
}
.headerFooter > div > div span {
  margin-left: 5px;
  font-weight: 100;
  color: #bbb;
}
.title {
  font-size: 150%;
}
.title a {
  color: black;
  font-weight: bold;
}
.social-links {
  height: 30px;
  margin-bottom: 10px;
}
.social-links li {
  float: left;
  list-style: none;
  margin: 0 2px;
  font-size: 14pt;
}
.social-links li div {
  color: #999;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.social-links li div:hover {
  color: black;
}
.headerButtons {
  float: right;
}
.headerButtons a {
  float: left;
  margin-left: 40px;
  text-align: right;
}
.header a.extra {
  color: #aaa;
  margin-left: 1em;
}
.header a.extra:hover {
  color: #000;
}
#home {
  clear: both;
}
.meta {
  color: #aaa;
}
.footer {
  clear: both;
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}
.footer .contact {
  float: left;
  margin-right: 3em;
}
.footer .contact a {
  color: #8085C1;
}
.footer .rss {
  margin-top: 1.1em;
  margin-right: -0.2em;
  float: right;
}
.footer .rss img {
  border: 0;
}
/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
.post {
  background: white;
}
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}
.post,
.page {
  margin-bottom: 5em;
}
.post h1,
.page h1 {
  margin-bottom: 1em;
  font-size: 180%;
}
.post h1:not(:first-child),
.page h1:not(:first-child) {
  margin-top: 2em;
}
.post h2,
.page h2 {
  margin-bottom: 1em;
  font-size: 150%;
}
.post h2:not(:first-child),
.page h2:not(:first-child) {
  margin-top: 1.5em;
}
.post h3,
.page h3 {
  margin-bottom: 0.25em;
  font-size: 120%;
}
.post h3:not(:first-child),
.page h3:not(:first-child) {
  margin-top: 1.5em;
}
.post ul {
  list-style-type: disc;
}
.post ul,
.post ol {
  margin-left: 1.35em;
}
.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}
.post pre code {
  border: none;
}
/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}
.post pre.terminal code {
  background-color: #333;
}
.postHeader {
  position: relative;
  margin-bottom: 0.5em;
  height: 40px;
}
.postHeader a {
  color: black;
}
.postHeader .postTitle {
  float: left;
  font-size: 200%;
  padding: 10px 15px;
  height: 20px;
}
.postHeader .postDate {
  float: right;
  padding: 10px 15px;
  height: 20px;
  color: #333;
}
.postContent {
  padding: 15px;
}
.postFooter {
  height: 30px;
  border-top: 1px solid #ddd;
  margin-top: 15px;
}
.postFooter > div {
  float: left;
  line-height: 30px;
  border-left: 1px solid #ddd;
  padding: 0 15px;
}
.postFooter > div:first-child {
  border-left: none;
}
.postFooter > div:last-child {
  border-right: none;
}
.postFooter > div > div {
  float: left;
}
.postFooter > div > div:not(:first-child) {
  padding: 0 10px;
}
.postFooter .readMore {
  float: right;
}
@media screen and (max-width: 580px) {
  .headerFooter {
    height: 70px;
  }
  .headerFooterRight {
    clear: both;
    margin-top: 5px;
    float: left;
  }
}
