/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

@hoverColor: #09d;
@headerHeight: 60px;
@borderColor: #eee;

/* Global Reset */
* {
    margin: 0;
    padding: 0;
}

html, body { height: 100%; }

body {
    // background-color: #FFF;
    font-family: "Merriweather", Helvetica, Arial, sans-serif;
    font-size: small;
    line-height: 26px;
    font-size: 15px;
    // text-align: center;
    // background: #f6f6f6;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

h1 {
        &:not(:first-child) {
            margin-top: 2em;
        }
        margin-bottom: 0.5em;
        font-size: 150%;
    }

    h2 {
        &:not(:first-child) {
            margin-top: 1.5em;
        }
        margin-bottom: 0.5em;
        font-size: 135%;
    }

    h3 {
        &:not(:first-child) {
            margin-top: 1.5em;
        }
        margin-bottom: 0.25em;
        font-size: 120%;
    }

p + p, ul + p {
    margin-top: 1em;
}

a         { color: #069; text-decoration: none; }
a:hover   { color: @hoverColor; }
// a:visited { color: #00a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
    list-style-type: none;
    margin-bottom: 2em;
}

.posts>li {
    margin-bottom: 6em;
    position: relative;
    &:after {
        position: absolute;
        content: '';
        width: 50%;
        height: 1px;
        background: #eee;
        left: 50%;
        margin-top: 2em;
        margin-left: -25%;
        // top: 0;
    }
}

.posts .postContent {
    display: none;
}

// .postDate {
//     color: #ddd;
//     font-family: Monaco, "Courier New", monospace;
//     font-size: 80%;
// }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

// @siteWidth: 960px;
@contentWidth: 800px; // @siteWidth * 0.75

// .site {
    // font-size: 115%;
    // width: @siteWidth;
// }

.container {
    max-width: @contentWidth;
    padding: 0 10px;
    margin: 0 auto;
    text-align: left;
}

// .content {
//     width: 75%;
//     float: left;
// }

// .sidebar {
//     width: 25%;
//     float: left;
// }

.headerContent {
  padding-top: 40px;
  margin: 0 auto;
  width: 204px;
  line-height: 35px;
  text-align: center;
}

.header {
    margin-bottom: 100px;
}

.headerCategories {
    text-align: center;
    margin-bottom: 80px;
    >span {
        margin: 0 20px;
        font-size: 17px;
        span {
            margin-left: 3px;
            font-weight: 100;
            color: #ddd;
            // display: none;
        }
    }
}

.profile {
    >div {
        background: url('/img/profile.jpg');
        width: 100px;
        height: 100px;
        margin: 0 auto 10px auto;
        // border: 1px solid #ccc;
        border-radius: 50%;
    }
}

.headerContent {
    max-width: @contentWidth;
    height: @headerHeight;
    margin: 0 auto;
    font-family: "Merriweather";
    span {
        vertical-align: middle;
    }
    .headerLeft {
        float: left;
    }
    .headerRight {
        float: right;
    }
    // padding: 60px 0;
    // // padding-bottom: 10px;
    // margin: 0 auto;
    // width: 204px;
    // line-height: 30px;
    // text-align: center;
    // a {
    //     color: #999;
    // }
    // border-bottom: 1px solid @borderColor;
}

.location {
    color: #999;
    position: relative;
    // margin-left: 20px;
    // display: inline;
    // font-size: 14px;
    cursor: default !important;
    // &:hover {
    //     color: #666 !important;
    // }
}

.location>span {
    margin-right: 8px;
    font-size: 13pt;
    // color: black;
    // margin-top: 5px;
    // float: left;
    // display: block;
    position: relative;
    // left: -15px;
    top: -1px;
}

.header a {
    // font-weight: bold;
    text-decoration: none;
    // color: black;
}

#headerFooter {
    max-width: @contentWidth;
    margin: 0 auto;
    margin-bottom: 40px;
    // text-align: center;
    // height: 30px;
}

.headerFooterInner {
    max-width: 480px;
    height: 150px;
    margin: 0 auto;
    padding-top: 20px;
    // display: -webkit-box;
    // display: -webkit-flex;
    // display: -ms-flexbox;
    // display: flex;
    // padding: 0 15px;
    // position: absolute;
    // bottom: 0;
    // left: 0;
    // right: 0;

    >div {
        // padding: 10px 20px 10px 80px;
        padding: 0 40px;
        float: left;
        text-align: center;
        // -webkit-flex: 1;
        // -webkit-box-flex: 1;
        // -ms-flex: 1;
        // flex: 1;
        width: 240px;
        box-sizing: border-box;
        &:first-child {
            text-align: right;
        }
        &:last-child {
            text-align: left;
        }
        // >div:not(.navbarHeader) {
        //     text-align: left;
        // }
        // float: left;
    }
    &:after {
        clear: both;
    }
}

.navbarHeader {
    font-weight: 100;
    font-size: 16pt;
    color: #999;
    margin-bottom: 10px;
}

.headerFooterLeft {
    float: left;
}

.headerFooterRight {
    float: right;
}

#headerFooter>div>div {
    // margin: 0 15px;
    // float: left;
    // &:first-child {
    //     padding-left: 15px;
    //     border-left: none;
    // }
    // &:last-child {
    //     padding-right: 15px;
    //     border-right: none;
    // }
    span {
        margin-left: 5px;
        font-weight: 100;
        color: #bbb;
    }
    // border-left: 1px solid #666;
    // padding: 0 20px;
}

.title {
    // display: inline-block;
    // float: left;
    font-size: 150%;
    // margin-bottom: 5px;
    font-family: "Roboto Sans";
    a {
        color: black;
        font-weight: bold;
        &:hover {
            color: @hoverColor;
        }
    }
}

@socialHeight: 30px;

.social-links {
  // width: 100%;
  // margin: 0 0 10 0;
  // list-style:square;
  // height: @headerHeight;
  height: @socialHeight;
  // margin-top: 5px;
  // margin-bottom: 10px;
}

.social-links li {
  float: left;
  list-style: none;
  margin: 0 2px;
  font-size: 14pt;
  div {
    width: 30px;
    height: @socialHeight;
    line-height: @socialHeight;
    text-align: center;
    color: #999;
  }
  // text-indent: -9999px;
  // margin: 0 0 0 8;
  // padding: 0 0 0 0;
  // border-radius: 3px;
}

.hb {
    cursor: pointer;
}

.hb, .social-links div {
    cursor: pointer;
    // color: #666;
    &:hover {
        // color: black;
    }
}

// .title {
//     float: left;
// }

.headerButtons {
    float: right;
}

.headerButtons a {
    float: left;
    margin-left: 40px;
    text-align: right;
}

.header a.extra {
    color: #aaa;
    margin-left: 1em;
}

.header a.extra:hover {
    color: #000;
}

#home {
    clear: both;
}

.meta {
    color: #aaa;
}

.footer {
    max-width: @contentWidth;
    margin: 0 auto;
    clear: both;
    // font-size: 80%;
    color: #666;
    border-top: 1px solid @borderColor;
    padding: 1em 0;
    overflow: hidden;
    text-align: center;
}

.footer .contact {
    float: left;
    margin-right: 3em;
}

.footer .contact a {
    color: #8085C1;
}

.footer .rss {
    margin-top: 1.1em;
    margin-right: -.2em;
    float: right;
}

.footer .rss img {
    border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.post {
    // border-bottom: 1px solid #ccc;
    background: white;
    // padding: 10px;
}

.post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
}

.post, .page {
    margin-bottom: 5em;
}
.post ul {
    list-style-type: disc;
}

.post ul, .post ol {
    margin-left: 1.35em;
}

.post code {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .2em;
}

.post pre code {
    border: none;
}

/* terminal */
.post pre.terminal {
    border: 1px solid #000;
    background-color: #333;
    color: #FFF;
}

.post pre.terminal code {
    background-color: #333;
}

.postHeader {
    position: relative;
    margin-bottom: 0.5em;
    // height: 40px;
    // background: #000;
    a {
        color: black;
        &:hover {
            color: @hoverColor;
        }
    }
}

.postTitle {
    // float: left;
    font-size: 250%;
    line-height: 45px;
    // font-weight: 800;
    // line-height: 200%;
    // font-weight: 100;
    // padding: 10px 0;
    // height: 20px;
    font-family: 'Roboto Slab', serif;
}

.postMetadata {
    margin-top: 10px;
}

.postMetadata, .postMetadata a {
    color: #999;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 300;
}

.postCategories>span {
    padding: 0 10px;
}

.postHeader .postDate {
    // float: right;
    // background: #06a;
    padding: 10px 0;
    height: 20px;
    // color: #333;
}

.postContent, .postExcerpt {
    padding: 15px 0;
    font-family: 'Merriweather', sans-serif;
}

.readMore {
    cursor: pointer;
}

.postFooter {
    height: 30px;
    // border-top: 1px solid #ddd;
    margin-top: 15px;
    // margin-left: 15px;
    // >div {
    //     float: left;
    //     line-height: 30px;
    //     border-left: 1px solid #ddd;
        // padding: 0 15px;
    //     &:first-child {
    //         border-left: none;
    //     }
    //     &:last-child {
    //         border-right: none;
    //     }
    // }
    // >div>div {
    //     float: left;
    //     &:not(:first-child) {
    //         padding: 0 10px;
    //     }
    // }
    // .readMore a {
        // float: right;
    //     color: #096;
    // }
}

// .sidebar {
//     padding-left: 40px;
//     box-sizing: border-box;
//     text-align: left;
//     ul {
//         list-style-type: none;
//     }
//     >div {
//         margin-bottom: 40px;
//     }
//     h1 {
//         font-size: 140%;
//         color: #999;
//         font-weight: 100;
//         margin-bottom: 15px;
//     }
//     h2 {
//         // font-size: 110%;
//         font-weight: normal;
//         color: #999;
//     }
//     h2:first-child {
//         margin: 0;
//     }
//     h2:not(:first-child) {
//         margin: 20px 0 0 0;
//     }
//     .categories {
//         li {
//             width: 105px;
//         }
//         span {
//             float: right;
//             font-weight: 100;
//             color: #999;
//         }
//     }
//     .archive {
//         line-height: 18px;
//         li {
//             margin: 6px 0;
//         }
//     }
// }

// @media screen and (max-width: @siteWidth)
// {
    // .container {
    //     width: @siteWidth * 0.75;
    // }
    // .content {
    //     width: 100%;
    // }
    // .sidebar {
    //     display: none;
    // }
// }

@media screen and (max-width: 700px)
{
    // .headerRight {
    //     display: none;
    // }
    // .headerLeft {
    //     text-align: center;
    //     float: none !important;
    // }
    // #headerFooter {
    //     height: 70px;
    // }
    // .headerFooterRight {
    //     clear: both;
    //     margin-top: 5px;
    //     float: left;
    // }
    // .container {
    //     width: 100%;
    // }
    // .content>div, .header {
    //     padding: 0 10px;
    // }
}

#smallAbout {
    display: none;
}

@media screen and (max-width: 400px)
{
    .headerLeft {
        text-align: center;
        float: none !important;
    }
    .headerRight {
        display: none;
    }
    #smallAbout {
        display: block;
    }
    .headerCategories {
        margin-bottom: 20px;
        >span {
            display: block;
            line-height: 35px;
        }
    }
    .posts>li {
        margin-bottom: 4em;
        &:after {
            margin-top: 1.5em;
        }
    }
    .about {
        font-size: 17px;
    }
    // .header {
    //     margin-bottom: 20px;
    // }
    .postTitle {
        font-size: 180%;
        line-height: 40px;
    }
}

.flexbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.flex {
    -webkit-flex: 1;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.worklink {
  margin-bottom: 30px;
}

.workLinks img {
    margin: 0 10 0 0;
    width: 225px;
    height: 150px;
}

.workInfo {
  margin-left: 20px;
}

.workHeader {
  float: left;
  font-size: 16pt;
  color: #666;
}

.workType {
  float: right;
  font-size: 11pt;
  color: #666;
}

.workSubtitle {
  clear: both;
  margin-top: 10px;
  font-style: italic;
  color: #666;
}

.workDesc {
  margin-top: 10px;
  line-height: 20px;
}

.flatlist {
    list-style-type: none;
}

.gray {
    color: #666;
}

.ml10 {
    margin-left: 10px;
}