/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
    margin: 0;
    padding: 0;
}

html, body { height: 100%; }

body {
    // background-color: #FFF;
    font: 13.34px Helvetica, Arial, sans-serif;
    font-size: small;
    text-align: center;
    background: #f6f6f6;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

p + p, ul + p {
    margin-top: 1em;
}

a         { color: #06a; text-decoration: none; }
a:hover   { color: #09d; }
// a:visited { color: #00a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
    list-style-type: none;
    margin-bottom: 2em;
}

.posts>li {
    margin-bottom: 3em;
}

.postDate {
    color: #ddd;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

// @siteWidth: 960px;
@contentWidth: 800px; // @siteWidth * 0.75

// .site {
    // font-size: 115%;
    // width: @siteWidth;
// }

.container {
    max-width: @contentWidth;
    margin: 0 auto;
    line-height: 1.5em;
    text-align: left;
    font-size: 115%;
}

// .content {
//     width: 75%;
//     float: left;
// }

// .sidebar {
//     width: 25%;
//     float: left;
// }

.header {
    // height: 300px;
    line-height: 30px;
    margin-bottom: 40px;
    position: relative;
    background: black;
    color: white;
    font-size: 115%;
}

.headerContent {
    padding-top: 90px;
    padding-bottom: 50px;
    margin: 0 auto;
    width: 200px;
    text-align: center;
}

.header a {
    // font-weight: bold;
    text-decoration: none;
    color: white;
}

.headerFooter {
    max-width: @contentWidth;
    margin: 0 auto;
    height: 30px;
    // padding: 0 15px;
    // position: absolute;
    // bottom: 0;
    // left: 0;
    // right: 0;
}

.headerFooterLeft {
    float: left;
}

.headerFooterRight {
    float: right;
}

.headerFooter>div>div {
    // margin: 0 15px;
    float: left;
    &:first-child {
        padding-left: 15px;
        border-left: none;
    }
    &:last-child {
        padding-right: 15px;
        border-right: none;
    }
    span {
        margin-left: 5px;
        font-weight: 100;
        color: #bbb;
    }
    border-left: 1px solid #666;
    padding: 0 20px;
}

.title {
    // display: inline-block;
    font-size: 150%;
    a {
        color: white;
        font-weight: 100;
        &:hover {
            color: #09d;
        }
    }
}

.social-links {
  // width: 100%;
  // margin: 0 0 10 0;
  // list-style:square;
  height: 40px;
}

.social-links li {
  float: left;
  list-style: none;
  margin: 0 10px;
  // text-indent: -9999px;
  // margin: 0 0 0 8;
  // padding: 0 0 0 0;
  // border-radius: 3px;
}

// .title {
//     float: left;
// }

.headerButtons {
    float: right;
}

.headerButtons a {
    float: left;
    margin-left: 40px;
    text-align: right;
}

.header a.extra {
    color: #aaa;
    margin-left: 1em;
}

.header a.extra:hover {
    color: #000;
}

#home {
    clear: both;
}

.meta {
    color: #aaa;
}

.footer {
    clear: both;
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
}

.footer .contact {
    float: left;
    margin-right: 3em;
}

.footer .contact a {
    color: #8085C1;
}

.footer .rss {
    margin-top: 1.1em;
    margin-right: -.2em;
    float: right;
}

.footer .rss img {
    border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.post {
    border: 1px solid #ccc;
    background: white;
    // padding: 10px;
}

.post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
}

.post, .page {
    margin-bottom: 5em;
    h1 {
        &:not(:first-child) {
            margin-top: 2em;
        }
        margin-bottom: 1em;
        font-size: 180%;
    }

    h2 {
        &:not(:first-child) {
            margin-top: 1.5em;
        }
        margin-bottom: 1em;
        font-size: 150%;
    }

    h3 {
        &:not(:first-child) {
            margin-top: 1.5em;
        }
        margin-bottom: 0.25em;
        font-size: 120%;
    }
}
.post ul {
    list-style-type: disc;
}

.post ul, .post ol {
    margin-left: 1.35em;
}

.post code {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .2em;
}

.post pre code {
    border: none;
}

/* terminal */
.post pre.terminal {
    border: 1px solid #000;
    background-color: #333;
    color: #FFF;
}

.post pre.terminal code {
    background-color: #333;
}

.postHeader {
    position: relative;
    margin-bottom: 0.5em;
    height: 40px;
    background: #000;
    a {
        color: white;
    }
}

.postHeader .postTitle {
    float: left;
    font-size: 120%;
    line-height: 120%;
    // font-weight: 100;
    padding: 10px 15px;
    height: 20px;
}

.postHeader .postDate {
    float: right;
    // background: #06a;
    padding: 10px 15px;
    height: 20px;
    // color: #;
}

.postContent {
    padding: 15px;
}

.postFooter {
    height: 30px;
    border-top: 1px solid #ddd;
    margin-top: 15px;
    >div {
        float: left;
        line-height: 30px;
        border-left: 1px solid #ddd;
        padding: 0 15px;
        &:first-child {
            border-left: none;
        }
        &:last-child {
            border-right: none;
        }
    }
    >div>div {
        float: left;
        &:not(:first-child) {
            padding: 0 10px;
        }
    }
    .readMore {
        float: right;
    }
}

// .sidebar {
//     padding-left: 40px;
//     box-sizing: border-box;
//     text-align: left;
//     ul {
//         list-style-type: none;
//     }
//     >div {
//         margin-bottom: 40px;
//     }
//     h1 {
//         font-size: 140%;
//         color: #999;
//         font-weight: 100;
//         margin-bottom: 15px;
//     }
//     h2 {
//         // font-size: 110%;
//         font-weight: normal;
//         color: #999;
//     }
//     h2:first-child {
//         margin: 0;
//     }
//     h2:not(:first-child) {
//         margin: 20px 0 0 0;
//     }
//     .categories {
//         li {
//             width: 105px;
//         }
//         span {
//             float: right;
//             font-weight: 100;
//             color: #999;
//         }
//     }
//     .archive {
//         line-height: 18px;
//         li {
//             margin: 6px 0;
//         }
//     }
// }

// @media screen and (max-width: @siteWidth)
// {
    // .container {
    //     width: @siteWidth * 0.75;
    // }
    // .content {
    //     width: 100%;
    // }
    // .sidebar {
    //     display: none;
    // }
// }

@media screen and (max-width: 580px)
{
    .headerFooter {
        height: 70px;
    }
    .headerFooterRight {
        clear: both;
        margin-top: 5px;
        float: left;
    }
    // .container {
    //     width: 100%;
    // }
    // .content>div, .header {
    //     padding: 0 10px;
    // }
}







