---
layout: default
title: Jay Meistrich
---

<div id="home">
        <div class="headerFooter">
            <div class="headerFooterInner">
                <div>
                    <div class="navbarHeader">Categories</div>
                    <div>
                        <a href="/">All</a>
                        <span>{{ site.posts.size}}</span>
                    </div>
                    {% for category in site.categories %}
                    <div>
                        <a href="/{{ category | first }}">{{ category | first | capitalize }}</a>
                        <span>{{ category[1].size}}</span>
                    </div>
                    {% endfor %}
                    <div><a href="">Archive</a></div>
                </div>
                <div>
                    <div class="navbarHeader">Pages</div>
                    <div><a href="">About Me</a></div>
                    <div><a href="">What's In My Backpack</a></div>
                    <div><a href="">Traveling Lifestyle</a></div>
                </div>
            </div>
        </div>
    <ul class="posts">
    {% for post in site.posts %}
        <li class="post">
            {% include postheader.html title=post.title date=post.date categories=post.categories url=post.url %}
            <div class="postContent">
            {{ post.excerpt }}
            </div>
            <div class="postFooter">
                <div class="readMore"><a href="{{ post.url }}">Read More</a></div>
            </div>
        </li>
    {% endfor %}
    </ul>
</div>


TODO: Put the categories stuff at the top of the post