---
layout: default
title: Jay Meistrich
---

<div id="home">
    <div class="headerCategories">
        <a id="smallAbout" class="hb about" href="/about">About Me</a>
        <span>
            <a class="hb" href="/">All</a>
            <span>{{ site.posts.size}}</span>
        </span>
        {% for category in site.categories %}
        <span>
            <a class="hb" href="/{{ category | first }}">{{ category | first | capitalize }}</a>
            <span>{{ category[1].size}}</span>
        </span>
        {% endfor %}
    </div>
    <ul class="posts">
    {% for post in site.posts %}
        <li class="post">
            {% include postheader.html title=post.title date=post.date categories=post.categories url=post.url %}
            <div class="postExcerpt" id='excerpt{{ post.date | date: "%y%m%d"}}'>
            {{ post.excerpt }}
            <div class="postFooter">
                <div class="readMore" onclick="read{{ post.date | date: '%y%m%d' }}()"><a>Read More</a></div>
            </div>
            </div>
            <div class="postContent" id='content{{ post.date | date: "%y%m%d"}}'>
            {{ post.content }}
            </div>
            <script>function read{{ post.date | date: "%y%m%d" }}(){
                document.getElementById('excerpt{{ post.date | date: "%y%m%d"}}').style.display = 'none';
                document.getElementById('content{{ post.date | date: "%y%m%d"}}').style.display = 'block';
            }</script>
        </li>
    {% endfor %}
    </ul>
</div>
