<table>
<tr><td>Nov - Dec '13:</td><td>Singapore. Ate the best food every day.<br></td></tr>
<tr><td>Jan - Apr '14:</td><td>New Zealand and Australia. Enjoyed nature and beaches. Played a lot of Frisbee.<br></td></tr>
<tr><td>Apr - May '14:</td><td>Japan. Started learning Japanese.<br></td></tr>
<tr><td>Jun - July '14:</td><td>Seattle. Enjoy Seattle's beautiful summer.<br></td></tr>
<tr><td>Jul - Sep '14:</td><td>Europe. Learn Japanese and remember Spanish.<br></td></tr>
<tr><td>Oct - Dec '14:</td><td>South America. Become fluent in Spanish.<br></td></tr>
<tr><td>Dec '14 - Feb '15:</td><td>Ski mountains in Europe and Japan. Become an expert skier and fluent in Japanese.<br></td></tr>
<tr><td>Mar '15 - May '15:</td><td>Live on boats. Become one with the sea.</td></tr>
</table>
<style>
    td:first-child {
        font-weight: bold;
        text-align: right;
        padding-right: 15px;
    }
</style>