<b>Nov - Dec '13:</b> Singapore. Eat the best food every day.<br>
<b>Jan - Mar '14:</b> Beaches of New Zealand and Australia. Play a lot of Frisbee. Study Japanese.<br>
<b>Apr - Jun '14:</b> Japan. Become conversationally fluent in Japanese.<br>
<b>Jul - Sep '14:</b> Backpack around Europe. Improve my Spanish.<br>
<b>Oct - Nov '14:</b> Live somewhere in South America. Maybe Chile or Argentina. Become fluent in Spanish.<br>
<b>Dec '14 - Feb '15:</b> Live on a ski mountain. Become an expert skier.<br>
<b>Mar '15 - May '15:</b> Get a boating license and pilot a yacht. Maybe the Mediterranean or Southeast Asia.