<b>Nov - Dec '13:</b> Singapore. Eat the best food every day.<br>
<b>Jan - Mar '14:</b> New Zealand and Australia. Enjoy nature. Play a lot of Frisbee.<br>
<b>Apr - Jun '14:</b> Japan. Learn Japanese.<br>
<b>July - Sep '14:</b> Europe. Learn Japanese and remember Spanish.<br>
<b>Oct - Dec '14:</b> South America. Become fluent in Spanish.<br>
<b>Dec '14 - Feb '15:</b> Ski mountains in Europe and Japan. Become an expert skier and fluent in Japanese.<br>
<b>Mar '15 - May '15:</b> Live on boats. Become one with the sea.