<div id="home">
    <ul class="posts">
    {% for post in include.posts %}
        <li class="post">
            {% include postheader.html title=post.title date=post.date categories=post.categories url=post.url %}
            <div class="postExcerpt" id='excerpt{{ post.date | date: "%y%m%d"}}'>
            {{ post.excerpt }}
            <div class="postFooter">
                <div class="readMore" onclick="read{{ post.date | date: '%y%m%d' }}()"><a>Read More</a></div>
            </div>
            </div>
            <div class="postContent" id='content{{ post.date | date: "%y%m%d"}}'>
            {{ post.content }}
            </div>
            <script>function read{{ post.date | date: "%y%m%d" }}(){
                document.getElementById('excerpt{{ post.date | date: "%y%m%d"}}').style.display = 'none';
                document.getElementById('content{{ post.date | date: "%y%m%d"}}').style.display = 'block';
            }</script>
        </li>
    {% endfor %}
    </ul>
</div>
