<div id="home">
    <ul class="posts">
    {% for post in include.posts %}
        <li class="post">
            {% include postheader.html title=post.title date=post.date categories=post.categories authors=post.authors url=post.url %}
            <div class="postExcerpt padded">
                {{ post.excerpt }}
                <div class="postFooter">
                    <div class="readMore"><a href="{{ site.baseurl }}{{ post.url }}/">Continue Reading...</a></div>
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>
</div>
