@font-face {
  font-family: 'Aktiv';
  src: url('fonts/aktivgrotesk_rg-webfont.woff2') format('woff2'), url('fonts/aktivgrotesk_rg-webfont.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'Aktiv';
  src: url('fonts/aktivgrotesk_bd-webfont.woff2') format('woff2'), url('fonts/aktivgrotesk_bd-webfont.woff') format('woff');
  font-weight: bold;
}
@font-face {
  font-family: 'Aktiv';
  src: url('fonts/AktivGrotesk-Medium.woff2') format('woff2'), url('fonts/AktivGrotesk-Medium.woff') format('woff');
  font-weight: 500;
}
@font-face {
  font-family: 'Aktiv';
  src: url('fonts/AktivGrotesk-XBold.woff2') format('woff2'), url('fonts/AktivGrotesk-XBold.woff') format('woff');
  font-weight: 900;
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.mw {
  position: relative;
  width: 100%;
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 40px;
}
.ios10 .mw {
  -webkit-transform: translate3d(0, 0, 0);
}
.nopad {
  padding: 0;
}
.twoCol > div {
  -webkit-flex: 1 1 15em;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1 1 15em;
  width: 50%;
}
.b {
  font-weight: bold;
}
.b5 {
  font-weight: 500;
}
.ib {
  display: inline-block;
}
.rel {
  position: relative;
}
.w100 {
  width: 100%;
}
.safari .topClipper {
  overflow: auto;
}
.safari .topClipper::-webkit-scrollbar {
  display: none;
}
.imgDevice {
  position: relative;
  height: 100%;
  z-index: 1;
}
.imgDevice img:last-child {
  height: 100%;
}
.imgDevice .bubbleTop {
  position: absolute;
  bottom: 180px;
  left: 340px;
  height: 32px;
  z-index: 0;
}
@keyframes pulseDevice {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, 20px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes pulseArrow {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(8px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
.sectionAbout {
  margin-top: -60px;
  padding-bottom: 90px;
  z-index: -2;
}
@media (max-width: 1079px) {
  .sectionAbout {
    margin-top: -120px;
  }
  .sectionAbout .textTitle {
    max-width: 320px !important;
  }
  .sectionAbout .logosDe {
    display: none;
  }
}
@media (min-width: 1080px) {
  .sectionAbout .logosMo {
    display: none;
  }
}
.sectionAbout .graylogo img {
  width: 24px;
}
.sectionAbout .textAbout {
  font-weight: 500;
  margin: 20px auto 0 auto;
  font-weight: bold;
  max-width: 680px;
}
@media (min-width: 1080px) {
  .sectionAbout .textAbout {
    font-size: 22px;
  }
}
.sectionAbout .logos {
  text-align: center;
  margin: 80px 10px 0 10px;
}
.sectionAbout .logos img {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.sectionAbout .textTitle,
.sectionAbout .textLight {
  max-width: 380px;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 420px) {
  .sectionAbout .textApps {
    margin: 0 -10px;
  }
}
.sectionAbout .graybox {
  background: #f7f7f7;
  padding: 80px 16px;
  max-width: 1140px;
  margin: 0 auto 90px auto;
}
.center {
  text-align: center;
}
.button {
  position: relative;
  display: inline-block;
  font-size: 15px;
  color: white;
  white-space: nowrap;
  cursor: pointer;
  text-align: left;
}
.button .buttonInside {
  padding: 10px 24px;
  align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
}
.button .rightArrow {
  margin-left: 8px;
  font-weight: bold !important;
}
.button:hover .buttonInside {
  background-color: rgba(0, 0, 0, 0.1);
}
.button:hover .rightArrow {
  display: inline-block;
  animation: pulseArrow 0.8s ease-in-out infinite;
}
button {
  cursor: pointer;
}
.buttonGetInTouch {
  background: #FF517B;
  background-image: linear-gradient(90deg, #FF517B 0%, #FF7023 100%);
  border-radius: 4px;
}
.buttonGetInTouch .textButtonLight {
  opacity: 0.6;
}
.sectionWorld {
  margin-top: 120px;
}
.sectionWorld .worldOval {
  position: absolute;
  left: -90px;
  top: -120px;
  z-index: -1;
}
.sectionWorld .worldOval svg {
  overflow: visible;
}
.sectionWorld .worldTextTop .textTitle {
  max-width: 450px;
}
.sectionWorld .worldTextTop .textLight {
  max-width: 340px;
}
.sectionWorld .teamImgs img {
  width: 100%;
}
@media (max-width: 699px) {
  .sectionWorld .teamImgs {
    margin: 40px -40px 0 -40px;
  }
  .sectionWorld .teamImgs > div {
    width: 100%;
    margin-top: 12px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
  }
  .sectionWorld .teamImgs > div div + div {
    margin-left: 12px;
  }
  .sectionWorld .teamImgs .first {
    align-items: flex-end;
    -webkit-align-items: flex-end;
    -ms-align-items: flex-end;
  }
  .sectionWorld .teamImgs .last > div:last-child {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
  }
}
@media (min-width: 700px) {
  .sectionWorld .teamImgs {
    margin-top: -20px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
  }
  .sectionWorld .teamImgs > div:first-child {
    -webkit-flex: 1.2;
    -webkit-box-flex: 1.2;
    -ms-flex: 1.2;
    flex: 1.2;
  }
  .sectionWorld .teamImgs > div:last-child {
    -webkit-flex: 1;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .sectionWorld .teamImgs > div {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    align-items: flex-end;
    -webkit-align-items: flex-end;
    -ms-align-items: flex-end;
  }
  .sectionWorld .teamImgs > div > div {
    margin: 0 10px;
  }
  .sectionWorld .teamImgs .last > div:first-child {
    -webkit-flex: 1.6;
    -webkit-box-flex: 1.6;
    -ms-flex: 1.6;
    flex: 1.6;
  }
  .sectionWorld .teamImgs .last > div:last-child {
    -webkit-flex: 1;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .sectionWorld .teamImgs > div:last-child {
    width: 16%;
  }
  .sectionWorld .teamImgs > div:last-child img:last-child {
    margin-top: 16px;
  }
}
.sectionWorld .worldTextBottom div {
  text-align: left;
  max-width: 250px;
  margin: 40px 30px 0 auto;
}
@media (max-width: 1080px) {
  .sectionWorld .worldTextBottom div {
    margin-bottom: 60px;
  }
}
@media (min-width: 700px) {
  .sectionWorld {
    padding: 0 0 60px 0;
  }
  .sectionWorld .worldTextTop {
    margin-left: 60px;
  }
  .sectionWorld .worldTextTop .textLight {
    margin-top: 20px;
  }
  .sectionWorld .worldTextBottom {
    margin-top: 50px;
    max-width: 340px;
    margin-right: 170px;
    margin-left: auto;
  }
}
.sectionTeam {
  background-image: linear-gradient(158deg, #2E1E76 0%, #3B6CC1 97%);
  padding: 100px 0;
  color: #B0B5CD;
}
.sectionTeam .textTitle {
  color: white;
}
.sectionTeam .teamGrid {
  width: 100%;
  padding: 0 20px;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.sectionTeam .teamGrid > div {
  -webkit-flex: 1;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
@media (max-width: 699px) {
  .sectionTeam .teamGrid > div {
    min-width: 40%;
    max-width: 590px;
  }
}
@media (min-width: 700px) {
  .sectionTeam .teamGrid > div {
    min-width: 25%;
    max-width: 295px;
  }
}
.sectionTeam .teamPos {
  font-weight: bold;
}
@media (max-width: 699px) {
  .sectionTeam .teamStatsDe,
  .sectionTeam .empty,
  .sectionTeam .teamBattle {
    display: none;
  }
  .sectionTeam .textTitle {
    color: white;
    padding-left: 40px;
  }
  .sectionTeam .teamText {
    padding-left: 40px;
  }
  .sectionTeam .teamStatsMo {
    min-width: 100% !important;
    max-width: 100% !important;
    margin-bottom: 40px;
    padding-left: 40px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .sectionTeam .teamStatsMo > div {
    width: 30%;
  }
  .sectionTeam .teamTitle {
    max-width: 300px !important;
  }
  .sectionTeam .teamTime {
    font-size: 20px;
  }
  .sectionTeam .teamPerson {
    padding-bottom: 40px;
    margin: 0 10px;
  }
  .sectionTeam .teamName {
    font-size: 20px;
  }
  .sectionTeam .teamPos,
  .sectionTeam .teamCountry {
    font-size: 12px;
  }
  .sectionTeam .clientsDe {
    display: none;
  }
}
@media (min-width: 700px) {
  .sectionTeam .teamTitle > div {
    margin-right: -100px;
  }
  .sectionTeam .teamStatsMo {
    display: none;
  }
  .sectionTeam .teamStatsDe {
    margin-top: -80px;
    padding-left: 40px;
  }
  .sectionTeam .teamPerson {
    padding: 0 32px 40px 0;
  }
  .sectionTeam .teamTime {
    font-size: 22px;
  }
  .sectionTeam .teamName {
    font-size: 24px;
  }
  .sectionTeam .clientsMo {
    display: none;
  }
}
.sectionTeam .teamText {
  width: 110%;
}
.sectionTeam .teamPerson > img {
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
}
.sectionTeam .teamPerson .teamName {
  color: #D4B166;
  font-weight: 900;
}
.sectionTeam .teamPerson .teamTime {
  margin: -52px -8px 0 0;
  text-align: right;
  color: white;
  opacity: 0.5;
  font-weight: bold;
}
.sectionTeam .teamClients {
  margin-top: 80px;
  color: white;
  opacity: 0.72;
}
.sectionTeam .teamClients > div {
  max-width: 1000px;
}
.sectionTeam .teamClients img {
  margin-top: 40px;
  width: 100%;
}
.sectionTeam .teamStats > div div:first-child {
  color: white;
  font-size: 28px;
  margin-top: 12px;
  font-weight: bold;
}
.sectionTeam .teamStats > div div:last-child {
  font-size: 15px;
  line-height: 1.1;
  font-weight: 500;
}
.sectionTeam .teamBattle {
  padding-top: 160px;
}
.sectionTeam .teamBattle > div:last-child {
  color: white;
  margin-top: 40px;
}
.sectionBottom {
  position: relative;
  overflow: hidden;
  text-align: center;
}
.sectionBottom .mw {
  padding-top: 100px;
}
.sectionBottom .bottomOval {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}
.sectionBottom .bottomOval svg {
  overflow: visible;
}
@media (min-width: 1080px) {
  .sectionBottom .bottomOval .spacerLeft {
    -webkit-flex: 1.4;
    -webkit-box-flex: 1.4;
    -ms-flex: 1.4;
    flex: 1.4;
  }
  .sectionBottom .bottomOval .ovalWrapper {
    margin-left: -400px;
  }
  .sectionBottom .bottomOval .spacerRight {
    -webkit-flex: 1;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}
@media (max-width: 1079px) {
  .sectionBottom .bottomOval .spacerLeft {
    -webkit-flex: 1;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .sectionBottom .bottomOval .ovalWrapper {
    margin-left: -400px;
  }
  .sectionBottom .bottomOval .spacerRight {
    -webkit-flex: 1.2;
    -webkit-box-flex: 1.2;
    -ms-flex: 1.2;
    flex: 1.2;
  }
}
.sectionBottom .textTitle {
  color: white;
  margin: 0 auto;
}
.sectionBottom .text {
  margin: 10px auto 16px auto;
  color: #D1DAED;
  max-width: 500px;
}
.sectionBottom .bottomText {
  position: relative;
  z-index: 1;
}
@media (max-width: 1079px) {
  .sectionBottom .bottomText {
    font-size: 13px;
  }
  .sectionBottom .bottomText .textTitle {
    max-width: 320px;
  }
}
.sectionBottom .buttonInside {
  padding: 16px 24px;
}
.sectionBottom .bottomHeart {
  margin-top: 160px;
  font-size: 14px;
  padding-bottom: 20px;
}
.sectionBottom .bottomHeart span {
  color: white;
  opacity: 0.4;
}
.sectionClients {
  margin-top: -40px;
}
.sectionClients > div {
  align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
}
.sectionClients > div + div {
  margin-top: 100px;
}
.sectionClients .clientRight {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.sectionClients .clientRight .clientText {
  padding-left: 40px;
}
.sectionClients .clientImg {
  margin: 0 16px;
  -webkit-flex: 1.1;
  -webkit-box-flex: 1.1;
  -ms-flex: 1.1;
  flex: 1.1;
}
.sectionClients .clientText {
  -webkit-flex: 1;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.sectionClients .spacer {
  max-width: 60px;
}
.sectionClients .companyLogo {
  margin-right: -100px;
}
.sectionClients .companyLogo div {
  display: inline-block;
  vertical-align: bottom;
}
.sectionClients .companyLogo div:last-child {
  margin: 0 0 20px -8px;
}
.sectionClients .companyLogo div:last-child img {
  height: 80px;
}
.sectionClients .companyLogo img {
  height: 60px;
}
.sectionClients .companyWriteup {
  max-width: 450px;
}
.sectionClients .companyWriteup p {
  margin: 1.5em 0;
}
.sectionClients .textBig {
  margin-top: 20px;
  font-size: 28px;
  font-weight: 900;
  line-height: 1.3;
}
@media (max-width: 1080px) {
  .sectionClients .textBig {
    font-size: 22px;
  }
}
.sectionClients .textSmall {
  font-size: 15px;
}
.sectionClients .textSmall ul {
  padding: 0;
  margin: 0;
}
.sectionClients .textSmall li {
  position: relative;
  list-style: none;
  margin-left: 20px;
  overflow: visible;
  line-height: 1.6;
}
.sectionClients .textSmall li:before {
  content: '';
  position: absolute;
  left: -20px;
  top: 6px;
  display: inline-block;
  width: 12px;
  height: 16px;
  background-size: contain;
  background-image: url('img/logoBullet.png');
}
@media (min-width: 700px) {
  .sectionClients > div {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
  }
  .sectionClients .clientMyKicks .clientText {
    margin-top: -80px;
  }
}
@media (max-width: 699px) {
  .sectionClients .clientText {
    margin-top: 20px;
  }
  .sectionClients > div {
    max-width: 500px;
    margin: 0 auto;
  }
  .sectionClients .clientText {
    padding: 0 !important;
  }
  .sectionClients .companyLogo > div:last-child {
    margin-bottom: 10px;
  }
  .sectionClients .companyLogo > div:last-child img {
    height: 60px;
  }
}
.smallTeamText {
  max-width: 560px;
  margin: 0 auto 100px auto;
}
.sectionTestimonials {
  position: relative;
  padding-top: 80px;
  -webkit-user-select: none;
  user-select: none;
}
@media (max-width: 600px) {
  .sectionTestimonials {
    padding-bottom: 60px;
  }
  .sectionTestimonials .logoBig {
    display: none;
  }
}
@media (min-width: 601px) {
  .sectionTestimonials {
    padding-bottom: 80px;
  }
}
.sectionTestimonials .testimonialsTitle {
  max-width: 400px;
}
@media (max-width: 699px) {
  .sectionTestimonials .testimonialsTitle {
    margin-left: 40px;
  }
}
@media (min-width: 700px) {
  .sectionTestimonials .testimonialsTitle {
    margin-left: auto;
  }
}
.sectionTestimonials .testimonialsOval {
  position: absolute;
  right: -100px;
  top: 60px;
  z-index: -1;
}
.sectionTestimonials .testimonialsOval svg {
  overflow: visible;
}
.testimonials {
  left: 0;
  right: 0;
  z-index: 1;
  margin-top: 60px;
  height: 520px;
  overflow: hidden;
}
.testimonials .scroller {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  z-index: 1;
  height: 100%;
  padding-bottom: 20px;
  box-sizing: content-box;
  /* So the width will be 100% + 17px */
  max-width: 1960px;
  margin: 0 auto;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.testimonials .scroller.dragging {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing;
}
.testimonials .scroller > div {
  white-space: normal;
  display: inline-block;
  width: 300px;
  padding-bottom: 48px;
  vertical-align: top;
}
.testimonials .scroller > div + div {
  margin-left: 20px;
}
@media (max-width: 1180px) {
  .testimonials .scroller {
    padding-left: 16px;
    padding-right: 16px;
  }
  .testimonials .scroller > div + div {
    margin-left: 16px;
  }
}
@media (min-width: 1181px) {
  .testimonials .scroller {
    padding: 0 80px;
  }
}
.testimonials .testimonialLogo {
  text-align: center;
  margin-top: 40px;
}
.testimonials .testimonialLogo img {
  height: 50px;
}
.testimonials .whiteBox {
  padding: 32px;
  background: white;
  box-shadow: 0px 6px 30px rgba(92, 95, 101, 0.15);
}
.testimonials .whiteBox .text {
  height: 250px;
  font-size: 16px;
}
.testimonials .whiteBox .person {
  height: 60px;
}
.testimonials .person {
  margin-top: 16px;
  font-size: 15px;
  line-height: 1.3;
  color: #63687C;
}
.testimonials .person img {
  width: 44px;
  height: 44px;
  margin-right: 20px;
}
.iconHeart {
  fill: red;
  position: relative;
  top: 3px;
  width: 16px;
  margin: 0 6px;
  animation: pulse 1s ease infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.timeColon {
  animation: pulseOpacity 2s ease infinite;
}
@keyframes pulseOpacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
.fill {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.flexvert {
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: space-around;
  -ms-justify-content: space-around;
  -webkit-justify-content: space-around;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -webkit-box-orient: vertical;
}
.f1 {
  -webkit-flex: 1;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.abs {
  position: absolute;
}
a {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-size: 17px;
  margin: 0;
  width: 100%;
  line-height: 1.5;
  overflow-x: hidden;
  color: #2D344F;
  font-family: 'Aktiv', 'Helvetica Neue', Helvetica, Arial, Sans-serif;
  text-rendering: optimizeLegibility;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  scroll-behavior: smooth;
}
@media (max-width: 1080px) {
  body {
    font-size: 15px;
  }
}
.fontTitle {
  font-weight: 500;
}
.text {
  color: #2D344F;
}
.textLight {
  color: #63687C;
}
.textTitle {
  position: relative;
  font-size: 32px;
  line-height: 1.4;
  font-weight: 900;
  padding-bottom: 16px;
}
@media (max-width: 1080px) {
  .textTitle {
    font-size: 24px;
  }
}
.header {
  position: relative;
}
.topBar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: right;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  height: 30px;
  padding: 0 20px;
  margin-top: 30px;
  z-index: 1;
}
.topBar a {
  color: white;
}
.topBar * {
  white-space: nowrap;
}
.topBar .headerLogo {
  height: 32px;
}
.topBar .headerRight {
  padding-right: 20px;
}
@media (max-width: 600px) {
  .topBar .headerRight {
    display: none;
  }
}
@media (max-width: 730px) {
  .topBar .headerLogoDark {
    display: none;
  }
}
@media (min-width: 731px) {
  .topBar .headerLogoWhite {
    display: none;
  }
}
.headerInside {
  position: relative;
  padding-top: 90px;
  height: 760px;
}
.headerInside .button {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}
@media (min-width: 1080px) {
  .headerInside .headerInsideRight {
    flex: 1 1 570px;
  }
  .headerInside .imgDevice {
    position: absolute;
    margin-left: -100px;
    margin-top: 50px;
    height: 600px;
  }
}
@media (max-width: 1079px) {
  .headerInside {
    height: auto;
  }
  .headerInside .headerInside2 {
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .headerInside .headerInsideDiv {
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
    -webkit-flex: 0 1 500px;
    -webkit-box-flex: 0 1 500px;
    -ms-flex: 0 1 500px;
    flex: 0 1 500px;
  }
  .headerInside .headerOval {
    display: none;
  }
  .headerInside .textTitle {
    color: white;
    margin-top: 40px;
  }
  .headerInside .textLight {
    font-size: 14px;
    color: #B0B5CD;
    font-weight: 500;
  }
  .headerInside .headerInsideLeft {
    max-width: 340px;
    margin: 0 auto;
  }
  .headerInside .headerInsideLeftWrap2 {
    margin: 0 auto;
  }
  .headerInside .button {
    font-size: 13px;
    box-shadow: none;
  }
  .headerInside .headerInsideRight .imgDevice {
    margin: -40px 0 0 120px;
    height: 500px;
    -webkit-flex: 1;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .headerInside .headerInsideRight .bubbleTop {
    left: -100px;
    bottom: 350px;
  }
}
.headerInsideLeftWrap2 {
  -webkit-flex: 1 1 550px;
  -webkit-box-flex: 1 1 550px;
  -ms-flex: 1 1 550px;
  flex: 1 1 550px;
}
.headerInsideLeftWrap2 .spacerInsideLeft {
  max-width: 50px;
  -webkit-flex: 0 20 50px;
  -webkit-box-flex: 0 20 50px;
  -ms-flex: 0 20 50px;
  flex: 0 20 50px;
}
.headerInsideLeftWrap2 .headerInsideLeftWrap {
  -webkit-flex: 1 1 520px;
  -webkit-box-flex: 1 1 520px;
  -ms-flex: 1 1 520px;
  flex: 1 1 520px;
}
.headerInsideLeft {
  position: relative;
  margin-top: -60px;
}
.headerInsideLeft .headerOval {
  position: absolute;
  left: -60px;
  top: -20px;
}
.headerInsideLeft .headerOval svg {
  overflow: visible;
}
.headerInsideLeft .textTitle {
  font-size: 42px;
  line-height: 1.2;
  font-weight: 900;
  margin-right: -100px;
  padding: 0;
}
@media (max-width: 500px) {
  .headerInsideLeft .textTitle {
    font-size: 32px;
  }
}
.headerInsideLeft .textLight {
  max-width: 410px;
  margin: 16px 0 24px 0;
}
.topOval {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}
.topOval svg {
  overflow: visible;
}
.topOval .ovalWrapper {
  -webkit-flex: 1;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 1080px) {
  .topOval .spacerLeft {
    -webkit-flex: 1;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .topOval .ovalWrapper {
    margin-right: -160px;
  }
}
@media (max-width: 1079px) {
  .topOval .spacerLeft {
    -webkit-flex: 1;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .topOval .ovalWrapper {
    margin: -100px 0 0 -100px;
  }
  .topOval .spacerRight {
    -webkit-flex: 1.2;
    -webkit-box-flex: 1.2;
    -ms-flex: 1.2;
    flex: 1.2;
  }
}
.headerFooter a:not(.headerLogo) {
  margin-left: 12px;
  margin-right: 12px;
  text-decoration: none;
}
/*******************************
******* Error / Success ********
*******************************/
#success,
#error {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.9);
}
#success > div,
#error > div {
  text-align: center;
  height: 100%;
}
#success h1,
#error h1 {
  margin-bottom: 0;
  color: #005ebf;
}
#success p,
#error p {
  color: #747474;
}
@media all and (max-width: 480px) {
  #success h1,
  #error h1 {
    font-size: 60px;
  }
}
