/* Common */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.mw {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.twoCol > div {
  flex: 50%;
  width: 50%;
}
.pad {
  padding: 0 24px;
}
.ib {
  display: inline-block;
}
.rel {
  position: relative;
}
.w100 {
  width: 100%;
}
.headerInside {
  overflow: visible;
}
.topClipper {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -950px;
  width: 2000px;
}
.topClipper .gradientTop2 {
  width: 2000px;
  height: 1100px;
}
.gradientTop2 {
  overflow: visible;
  background-image: -moz-linear-gradient(135deg, #b225e2 30%, #6669ea 55%, #1aadf1 90%);
  background-image: -webkit-linear-gradient(135deg, #b225e2 30%, #6669ea 55%, #1aadf1 90%);
  background-image: -ms-linear-gradient(135deg, #b225e2 30%, #6669ea 55%, #1aadf1 90%);
  clip-path: url(#svgPath);
}
.imgDevice img {
  width: 100%;
  width: calc(100% + 140px);
  margin-left: -140px;
  margin-right: 0px;
}
.center {
  text-align: center;
}
.button {
  display: inline-block;
  padding: 8px 16px;
  margin-top: 32px;
  font-size: 16px;
  color: white;
  font-weight: bold;
}
.sectionTitle {
  font-size: 24px;
  line-height: 1.4;
}
.buttonGetInTouch {
  background: #44d08c;
}
.buttonWhatWeDo,
.buttonOurWork {
  background: #fbf7ef;
  color: #d4b166;
}
.buttonOurTeam {
  background: rgba(100, 133, 159, 0.1);
  color: #64859f;
}
.rightArrow {
  margin-left: 8px;
}
.clientImages {
  text-align: right;
  margin-top: 120px;
}
.clientImages > div {
  height: 150px;
  transform: rotateZ(-20deg);
}
.clientImages > div img {
  -webkit-filter: brightness(0.8);
  filter: brightness(0.8);
  height: 32px;
  margin: 0 16px;
}
.imgAirplane {
  margin-top: -220px;
}
.airplaneWindow svg {
  height: 700px;
  width: 1001.95906066px;
  margin: -300px -400px 0 0;
}
.stat {
  font-size: 14px;
  font-weight: bold;
}
.stat > div:first-child {
  font-family: 'Playfair Display', 'Helvetica Neue', Helvetica, Arial, Sans-serif;
}
.stat.vert + .stat {
  margin-top: 16px;
}
.stat:not(.vert) + .stat {
  margin-left: 16px;
}
.sectionClients .stat {
  color: #61829c;
}
.sectionClients .stat > div:first-child {
  font-size: 28px;
}
.sectionCurveClip {
  position: relative;
  margin-left: -80%;
  margin-right: -80%;
}
.sectionTeamBG {
  border-radius: 50% 50% 0 0;
  background-image: -moz-linear-gradient(90deg, #0f1728 0%, #233561 100%);
  background-image: -webkit-linear-gradient(90deg, #0f1728 0%, #233561 100%);
  background-image: -ms-linear-gradient(90deg, #0f1728 0%, #233561 100%);
  padding: 100px 50px;
  color: white;
}
.sectionTeamBG .sneakyTitle {
  color: rgba(255, 255, 255, 0.04) !important;
}
.sectionTeamImgs {
  text-align: center;
}
.sectionTeamImgs > div {
  margin-top: 24px;
  align-items: flex-end;
}
.sectionTeamImgs > div > *:not(:last-child) {
  margin-right: 16px;
}
.sectionTeamImgs .stat {
  color: #0d2252;
}
.sectionTeamImgs .stat > div:first-child {
  font-size: 36px;
  font-family: 'Playfair Display', 'Helvetica Neue', Helvetica, Arial, Sans-serif;
}
.sectionTeamImgs img {
  width: 100%;
}
.sectionTeamImgs .team1 {
  -webkit-flex: 3;
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
}
.sectionTeamImgs .team2 {
  -webkit-flex: 2;
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
.sectionTeamImgs .team3 {
  -webkit-flex: 2.5;
  -webkit-box-flex: 2.5;
  -ms-flex: 2.5;
  flex: 2.5;
}
.sectionTeamImgs .teamStats1 {
  -webkit-flex: 2;
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
.sectionTeamImgs .teamStats1 .stat {
  margin-right: 96px;
}
.sectionTeamImgs .teamStats2 {
  -webkit-flex: 2;
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
.sectionTeamImgs .teamStats2 .stat {
  margin-left: 48px;
}
.sectionTeamImgs .team4 {
  -webkit-flex: 3;
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
}
.sectionTeamImgs .team5 {
  -webkit-flex: 5;
  -webkit-box-flex: 5;
  -ms-flex: 5;
  flex: 5;
}
.sectionWork {
  padding-top: 120px;
}
.sectionClients > div {
  margin: 100px 0;
}
.sectionClients .companyLogo {
  display: inline-block;
  width: 36px;
  margin-right: 16px;
}
.sectionClients .companyLogo img {
  width: 100%;
}
.sectionClients .companyName {
  color: #0c2153;
}
.sectionClients .companyDetails {
  color: #d4b166;
}
.sectionClients .companyLocation {
  color: #b3c7e6;
}
.sectionClients .imgNeedsPad:first-child {
  padding-right: 100px;
}
.sectionClients .imgNeedsPad:last-child {
  padding-left: 100px;
}
.sectionClients .clientText > div {
  max-width: 460px;
  margin: 0 auto;
}
.smallTeamText {
  max-width: 500px;
  margin: 0 auto 100px auto;
}
.teamRow {
  max-width: 900px;
}
.teamRow > div {
  -webkit-flex: 1;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.teamNames {
  color: #d4b166;
  font-size: 22px;
  white-space: nowrap;
}
.teamNames > div {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.teamPortraits {
  -webkit-align-items: flex-end;
  align-items: flex-end;
  margin-top: 72px !important;
}
.teamPortraits > div {
  margin: 0 8px;
}
.teamPortraits img {
  width: 100%;
}
.teamFlags {
  margin-top: -16px;
}
.teamFlags div {
  text-align: center;
}
.teamFlags img {
  width: 32px;
}
.teamTimes {
  font-size: 24px;
}
.teamTimes sup {
  font-size: 16px;
  font-weight: 600;
  margin-left: 8px;
}
.teamCountries {
  margin-top: 8px;
  font-weight: bold;
  font-size: 13px;
}
.sectionTestimonials {
  padding: 140px 0 180px 0;
  background: #f8fafb;
  border-radius: 0 0 50% 50%;
}
.sectionTestimonials .sneakyTitle {
  color: rgba(0, 0, 0, 0.03) !important;
}
.sectionTestimonials .logoBig {
  position: absolute;
  left: -100px;
  top: -200px;
  width: 440px;
}
.testimonials {
  white-space: nowrap;
  margin-top: 60px;
  z-index: 1;
}
.testimonials > div {
  white-space: normal;
  display: inline-block;
  width: 300px;
}
.testimonials > div + div {
  margin-left: 32px;
}
.testimonials .testimonialLogo {
  text-align: center;
  margin: 24px 0;
}
.testimonials .testimonialLogo img {
  height: 36px;
}
.testimonials .whiteBox {
  padding: 32px;
  background: white;
  border-radius: 16px;
  box-shadow: 0px 6px 30px rgba(92, 95, 101, 0.3);
}
.testimonials .person {
  margin-top: 16px;
  line-height: 1.3;
  color: #acb1be;
}
.testimonials .person img {
  width: 44px;
  height: 44px;
  margin-right: 16px;
}
.testimonials .person > .f1 > div:not(.fontGiant) {
  font-size: 15px;
  font-style: italic;
}
.sectionFeaturedWrite {
  margin-top: 150px;
}
.sectionFeaturedWrite .rowFeatured {
  margin: 24px 0 0 24px;
}
.sectionFeaturedWrite img {
  height: 24px;
}
.sectionFeaturedWrite img + img {
  margin-left: 36px;
}
.sectionFeaturedWrite .writeTitle {
  line-height: 42px;
}
.sectionFeaturedWrite .writeTitle .logo {
  height: 42px;
  vertical-align: middle;
}
.sectionFeaturedWrite .writeTitle .yellowSlash {
  font-size: 48px;
  margin: 0 16px;
  color: #ffba00;
  vertical-align: top;
}
.sectionFeaturedWrite .inputWrapper {
  position: relative;
  max-width: 360px;
  margin: 24px 0 0 24px;
}
.sectionFeaturedWrite button {
  position: absolute;
  right: -16px;
  bottom: -24px;
  background-color: #44d08c;
  box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, 0.15);
  color: white;
  border: 0;
  line-height: 42px;
  font-weight: bold;
  padding: 0 16px;
  /* margin: 3px 0 0 -128px; */
  vertical-align: bottom;
}
.sectionFeaturedWrite input {
  line-height: 48px;
}
input,
textarea {
  border: 0;
  padding: 0 16px;
  font-size: 16px;
  font-weight: bold;
  color: #1b2658;
  border-radius: 6px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
}
input::placeholder {
  color: rgba(100, 133, 159, 0.5);
}
.sectionFeatured > div,
.sectionSignup > div {
  max-width: 500px;
  margin: 0 auto;
}
.sectionFeatured .sneakyTitle {
  text-align: left;
  left: -24px;
}
.sectionSignup {
  position: relative;
  padding-top: 60px;
}
.sectionSignup > div {
  position: relative;
}
.sectionSignup .sneakyTitle {
  text-align: left;
  left: 160px;
  top: -26px;
}
.sectionSignup .shapeBlog {
  position: absolute;
  left: -40px;
  top: -240px;
  width: 780px;
  height: 592px;
}
.sectionReady {
  padding: 100px 0;
}
.sectionReady .sneakyTitle {
  text-align: left;
  left: -54px;
}
.emailAddress {
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
}
.sectionContact > * {
  max-width: 500px;
  margin: 0 auto;
}
.sectionContact .text {
  font-weight: bold;
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 8px;
}
.sectionContact input,
.sectionContact textarea {
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.05);
}
.sectionContact input {
  display: block;
  line-height: 42px;
}
.sectionContact textarea {
  height: 160px;
  padding: 12px;
  font-size: 14px;
  font-weight: normal;
  resize: none;
}
.sectionContact button {
  position: absolute;
  bottom: -48px;
  right: 16px;
  font-weight: bold;
  font-size: 16px;
}
.footerLine {
  width: 100%;
  height: 1px;
  background: #b3c7e6;
  opacity: 0.2;
}
.footerRow2 {
  line-height: 40px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: bold;
}
.footerRow2 .footerLogo {
  height: 40px;
}
.footerRow2 .footerLogoName {
  height: 40px;
  margin-right: 16px;
}
.footerRow2 .iconHeart {
  color: #ff3d00;
}
.footerRow2 > * {
  color: #b3c7e6;
}
.iconHeart {
  fill: red;
  position: relative;
  top: 3px;
  width: 16px;
  margin: 0 6px;
  animation: pulse 1s ease infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@media (max-width: 640px) {
  .padMo {
    padding: 0 24px;
  }
  .flexMo {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
  }
}
.fill {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.flexvert {
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: space-around;
  -ms-justify-content: space-around;
  -webkit-justify-content: space-around;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -webkit-box-orient: vertical;
}
.flexgrid {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.f1 {
  -webkit-flex: 1;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.abs {
  position: absolute;
}
a {
  text-decoration: none;
}
body {
  font-size: 17px;
  margin: 0;
  width: 100%;
  line-height: 1.5;
  overflow-x: hidden;
  font-family: 'Assistant', 'Helvetica Neue', Helvetica, Arial, Sans-serif;
  text-rendering: optimizeLegibility;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.fontTitle {
  font-weight: bold;
}
.fontGiant {
  font-family: 'Playfair Display', 'Helvetica Neue', Helvetica, Arial, Sans-serif;
  font-weight: 900;
}
.text {
  color: #64859f;
  font-weight: 600;
}
.sectionTitle {
  position: relative;
  padding-bottom: 16px;
}
.sneakyTitle {
  position: absolute;
  left: 0;
  right: 0;
  top: -54px;
  color: rgba(12, 33, 88, 0.1);
  font-size: 64px;
  text-align: center;
  font-weight: bold;
}
.sectionText > div {
  max-width: 380px;
}
.sectionText .sectionTitle {
  padding-right: 60px;
  margin: 0 auto;
}
.sectionText > div:not(.sectionTitle) {
  margin: 0 auto;
}
.sectionText .button {
  margin-left: -16px;
}
.sectionImg:last-child {
  padding-left: 100px;
}
/* Header */
.header {
  position: relative;
  height: 740px;
}
.topBar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: right;
  display: block;
  font-weight: bold;
  line-height: 60px;
  padding-top: 16px;
  z-index: 1;
}
.topBar a {
  color: #43357f;
}
.headerFooter a:not(.headerLogo) {
  margin: 0 8px;
  font-size: 16px;
  text-decoration: none;
}
@media (min-width: 641px) {
  .onlyMobile {
    display: none;
  }
  .circleButton {
    display: inline-block;
    color: white !important;
    width: 84px;
    height: 84px;
    line-height: 84px;
    text-align: center;
    border-radius: 50%;
    background: #d2b16a;
  }
  .topBar {
    padding-left: 16px;
    padding-right: 16px;
  }
  .headerLogo {
    float: left;
  }
  .headerLogoName {
    float: left;
  }
  .headerContact {
    position: absolute;
    left: 40px;
    top: 0;
  }
}
.headerLogo {
  background: url(img/1Logo.png);
  background-size: 53px;
  width: 53px;
  height: 60px;
  margin-top: 16px;
}
.headerLogoName {
  background: url(img/1LogoName.png);
  background-size: 160px;
  width: 160px;
  height: 40px;
  margin-left: 16px;
  margin-top: 26px;
}
.headerInside {
  padding-top: 76px;
  height: 700px;
}
.headerInsideLeft {
  justify-content: center;
  -ms-justify-content: center;
  -webkit-justify-content: center;
  padding: 0 64px;
  max-width: 500px;
  font-weight: 600;
  font-size: 17px;
  color: #b3c7e6;
}
.headerInsideLeft > div:not(.fontTitle) {
  max-width: 360px;
}
.headerInsideLeft .fontTitle {
  font-size: 28px;
  margin-bottom: 24px;
  color: white;
}
.headerInsideRight .fontGiant {
  font-size: 100px;
  color: #0c2153;
  opacity: 0.15;
  text-align: center;
  margin: 48px 0 0 -16px;
  line-height: 1;
  white-space: nowrap;
}
.headerMiddle {
  color: white;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 64px;
}
.headerMiddle i {
  font-size: 24px;
}
.headerBig {
  font-size: 64px;
  font-weight: bold;
  margin-top: 16px;
}
.headerText {
  margin-top: 16px;
  font-size: 22px;
  font-weight: bold;
}
.headerContact a {
  display: block;
  line-height: 32px;
  font-size: 22px;
  text-decoration: none;
  color: #273e56;
}
.headerImage {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background: url(img/1Header.png);
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
}
/* Section 1 */
.section1 {
  padding-bottom: 48px;
}
.section1Left {
  padding-top: 96px;
  width: 500px;
  color: #1b2658;
}
.section1 .spacerLeft {
  -webkit-flex: 1;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 16px;
}
.section1 .spacerRight {
  -webkit-flex: 1;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 16px;
}
.section1Left .fontTitle {
  font-size: 26px;
}
.section1Right {
  position: relative;
  min-width: 300px;
  max-width: 500px;
}
.imgProfile img {
  width: 100%;
}
.section1RightInfo {
  position: relative;
  background: white;
  width: 85%;
  margin-left: auto;
  padding: 24px 0 0 48px;
  margin-top: -24px;
}
.accentTitle {
  color: #0cc5c7;
  font-weight: bold;
  font-size: 14px;
}
.cityName {
  font-size: 24px;
  font-weight: bold;
}
.cityDates {
  color: #1b2658;
  font-size: 12px;
}
.followButton {
  background: #f4f4f4;
  padding: 0 16px;
  line-height: 40px;
  display: inline-block;
  margin: 16px 0;
  color: #1b2658;
  font-weight: bold;
  text-decoration: none;
}
.followButton i {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}
.followButton span {
  display: inline-block;
  vertical-align: middle;
}
/* Section 2 */
.section2 {
  position: relative;
  height: 700px;
}
.section2 .mw {
  align-items: start;
}
.section2 .spacerLeft {
  -webkit-flex: 1;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.section2 .spacerRight {
  -webkit-flex: 2;
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
.section2BG {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url(img/3Background.png);
  background-position: 60% center;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
}
.section2Social {
  margin-top: 30px;
  background: #1c2434;
  padding: 0 32px 32px 32px;
}
.section2SocialIcon,
.section2SocialName {
  color: #babfc4;
}
.section2SocialIcon {
  font-size: 20px;
  margin-top: 32px;
}
.section2SocialName {
  font-weight: bold;
  font-size: 24px;
}
.section2SocialDesc {
  color: #62727b;
  font-size: 14px;
}
.section2Exp {
  margin-top: 240px;
  color: white;
}
.section2Title {
  font-weight: bold;
  font-size: 42px;
}
.section2Desc {
  color: #73858e;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 32px;
}
/* Section 3 */
.section3 {
  position: relative;
  z-index: 1;
}
.section3Top {
  margin: 96px auto 48px auto;
}
.section3Title {
  font-size: 42px;
  font-weight: bold;
  margin-right: 64px;
}
.section3Desc {
  font-size: 18px;
  margin-top: 26px;
  line-height: 1.4;
}
.section3GridWrapper .spacerLeft {
  flex: 2.5;
}
.section3GridWrapper .spacerRight {
  flex: 1;
}
.section3Grid {
  max-width: 900px;
  margin: 0 auto 64px auto;
}
.section3Grid div {
  border: 1px solid #f2f2f2;
  flex: 25%;
  max-width: 25%;
}
@media (max-width: 640px) {
  .section3Grid div {
    flex: 33%;
    max-width: 33%;
  }
}
.section3Grid img {
  width: 100%;
}
/* Section 4 */
.section4 {
  text-align: center;
  background: #1c2434;
  padding: 160px 0;
  margin-top: -100px;
  width: 100%;
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  clip-path: polygon(0 8%, 100% 0, 100% 92%, 0 100%);
}
.section4Title {
  font-size: 42px;
  color: white;
  font-weight: bold;
}
.section4Desc {
  color: #73858e;
  font-weight: bold;
  margin-top: 8px;
}
.section4Grid {
  max-width: 1100px;
  margin: 48px auto 0 auto;
  padding: 0 16px;
}
.section4Grid a {
  padding: 0 48px;
  height: 100px;
  background: #192131;
  margin: 8px;
}
.section4Grid a:last-child {
  padding: 0 36px;
}
.section4Grid img {
  /* margin: -16px 0; */
  height: 100%;
}
/* Section 5 */
.section5 {
  padding: 160px 0;
  margin-top: -80px;
  background-color: #f7f9f9;
  background-image: url('img/6BackgroundShape.png');
  background-size: cover;
}
.section5 > .flexbox > div {
  position: relative;
}
.section5 .flexbox {
  width: 100%;
}
.section5Number {
  position: absolute;
  font-size: 240px;
  line-height: 200px;
  font-weight: bold;
  color: #dde3e6;
  color: rgba(0, 0, 0, 0.05);
  white-space: nowrap;
  z-index: 1;
}
.section5Number img {
  width: 150px !important;
  /* vertical-align: middle; */
}
.section5Title {
  font-size: 54px;
  color: #1b2658;
  line-height: 1.1;
}
.section5Desc {
  font-weight: bold;
  margin-top: 32px;
  color: #1b2658;
}
.section5BlueBox {
  position: relative;
  background-color: #1b2658;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
  color: white;
  line-height: 1.5;
  padding: 16px 32px;
  font-size: 15px;
  z-index: 2;
  font-weight: bold;
}
.section5WhiteBox {
  position: relative;
  background: white;
  padding: 16px 48px;
  font-weight: bold;
  color: #1b2658;
}
.section5MelewiButton {
  position: absolute;
  left: 32px;
  bottom: -16px;
  background: #0cc5c7;
  padding: 8px 16px;
  color: white;
  font-weight: bold;
  /* margin: -16px 0 0 64px; */
  z-index: 3;
}
.section5YellowBox {
  background: #fdca00;
  padding: 40px;
}
/* Section 5 subsection positions */
.section5_0 {
  width: 340px;
}
.section5_0 .section5Desc {
  margin-right: 20%;
}
.section5_1 {
  width: 500px;
  margin-top: 32px;
}
.section5_1st .spacerLeft {
  flex: 1;
}
.section5_1st .spacerMiddle {
  flex: 2;
}
.section5_2 {
  width: 500px;
  margin-top: -450px;
}
.section5_3 {
  width: 420px;
  margin-top: 100px;
}
.section5_2nd .spacerLeft {
  flex: 1;
}
.section5_2nd .spacerMiddle {
  flex: 3;
  min-width: 160px;
}
.section5_2nd .spacerRight {
  flex: 2;
}
.section5_4 {
  width: 500px;
  margin-top: -450px;
}
.section5_3rd .spacerLeft {
  flex: 1;
}
.section5_3rd .spacerMiddle {
  width: 420px;
}
.section5_3rd .spacerRight {
  flex: 2;
}
/* Section 5 section details */
.section5_1 img {
  width: 100%;
}
.section5_1 .section5Number {
  left: -90px;
  top: 0;
}
.section5_1Header {
  position: relative;
  align-items: flex-end;
  z-index: 3;
}
.section5_1 .section5Title {
  position: relative;
  margin: 60px 0 16px 0;
}
.section5_1 .section5BlueBox {
  margin-bottom: -24px;
}
.section5_1 .section5WhiteBox {
  margin-top: -48px;
  margin-left: 7%;
  margin-right: 10%;
}
.section5_2 .section5Number {
  left: 150px;
}
.section5_2 .section5Content {
  margin-top: 50px;
}
.section5_2 .section5Title {
  margin: 110px 0 0 290px;
}
@media (min-width: 1081px) {
  .section5_2 .section5WhiteBox {
    width: 400px;
    margin: 32px 0 0 150px;
  }
  .section5_2 .section5Img {
    position: absolute;
    top: 40px;
    width: 260px;
  }
}
.section5WhiteBox {
  padding: 32px;
}
.section5_2 .section5Img img {
  width: 100%;
}
.section5_2 .section5WhiteBox img {
  width: 100%;
  margin: 32px 0;
}
.section5_3 .section5Number {
  right: -40px;
}
.section5_3 .section5Title {
  text-align: right;
  margin: 40px 48px 24px 0;
}
.section5_3 .section5BlueBox {
  position: relative;
  display: inline-block;
  margin: 0 0 -32px 64px;
  z-index: 4;
}
.section5_3 .section5WhiteBox img {
  width: 100%;
  margin: 64px 0 32px 0;
}
/* Section 5_4 */
.section5YellowSubtitle {
  color: #1b2658;
  font-size: 26px;
  margin: -20px -100px 0 40px;
}
.section5Remote img {
  width: 100%;
}
.section5_4 .section5Number {
  left: -200px;
  top: -40px;
}
.section5_4 .section5Desc {
  color: #725812;
  line-height: 1.4;
}
.section5_4Input {
  position: relative;
  margin-top: 32px;
  margin-right: 64px;
}
.section5_4 input {
  border: 0;
  line-height: 56px;
  padding: 0 16px;
  font-size: 16px;
  font-weight: bold;
  color: #1b2658;
  border-radius: 3px;
  width: 100%;
}
.section5_4 input::placeholder {
  color: #d6d7dd;
}
.section5_4 button {
  position: absolute;
  right: -32px;
  top: 3px;
  border-radius: 3px;
  background-color: #1b2658;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
  color: #0cc5c7;
  border: 0;
  line-height: 50px;
  font-weight: bold;
  font-size: 20px;
  padding: 0 16px;
  /* margin: 3px 0 0 -128px; */
  vertical-align: top;
}
/* Section 6 */
.section6 {
  position: relative;
  padding-top: 64px;
  background: #f7f9f9;
}
.section6BG {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.section6BG img {
  width: 100%;
  min-width: 1000px;
}
.section6Title {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: -5vw;
  text-align: center;
  font-size: 10.4vw;
  font-weight: bold;
  color: #1b2658;
  z-index: 0;
}
.section6Content {
  z-index: 2;
  text-align: center;
}
.section6Hi {
  margin-top: 64px;
  color: white;
  font-size: 28px;
}
.section6Email {
  color: #0cc5c7;
  font-size: 32px;
  font-weight: bold;
}
@media (min-width: 641px) {
  .footerContact {
    position: absolute;
    left: 40px;
    bottom: 30px;
    z-index: 2;
  }
}
.footerContact a {
  display: block;
  line-height: 36px;
  font-size: 22px;
  color: #d6d7dd;
}
.section6ImageSubtitle {
  position: absolute;
  top: -80px;
  right: -80px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  color: #dde3e6;
  line-height: 1.4;
  font-weight: bold;
  font-size: 14px;
}
.section6ImageSubtitle .fontTitle {
  font-size: 22px;
}
/* Mobile */
@media (max-width: 640px) {
  .noMo {
    display: none;
  }
  .header {
    display: block;
    height: auto;
  }
  .headerInside {
    padding-top: 180px;
  }
  .topBar {
    text-align: center;
    padding-top: 16px;
  }
  .headerLogo {
    display: block;
    float: none;
    margin: 0 auto 8px auto;
  }
  .headerBig {
    font-size: 44px;
  }
  .headerText {
    font-size: 18px;
  }
  .headerContact {
    text-align: center;
    line-height: 48px;
    padding-bottom: 64px;
  }
  .headerContact a {
    color: #d6d7dd;
    line-height: 32px;
    font-size: 22px;
  }
  .section1 {
    display: block;
  }
  .section1 > div {
    width: auto;
  }
  .section1Left .fontTitle p:first-child {
    font-size: 24px;
  }
  .section1Left .fontTitle p:last-child {
    font-size: 18px;
  }
  .imgProfile {
    width: 85%;
    margin-bottom: 60px;
  }
  .section1RightInfo {
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    background: #1c2434;
    color: white;
    margin-left: auto;
    padding: 24px;
    margin-top: 60px;
  }
  .section1RightInfo .accentTitle {
    font-size: 12px;
  }
  .cityName {
    font-size: 18px;
    font-weight: bold;
  }
  .cityDates {
    color: #73858e;
    font-size: 10px;
  }
  .section1Right {
    margin-top: 32px;
  }
  .section2 {
    height: auto;
    padding: 40px 0;
  }
  .section2 .flexbox {
    display: block;
    padding: 0 32px;
  }
  .section2Social {
    background: none;
    text-align: right;
    padding: 0;
  }
  .section2SocialName {
    color: white;
  }
  .section2Exp {
    margin-top: 48px;
  }
  .section3Top {
    display: block;
    text-align: center;
  }
  .section3Title {
    margin: 0;
  }
  .section3Desc {
    font-size: 16px;
  }
  .section4Grid > a {
    height: 70px;
    padding: 0 24px;
  }
  .section4Grid a:last-child {
    padding: 0 16px;
  }
  .section5BlueBox {
    font-size: 11px;
  }
  .section6Title {
    font-size: 20vw;
    margin-top: -28vw;
    line-height: 17vw;
  }
  .section6BG img {
    min-width: 800px;
  }
  .section6Hi {
    margin-top: 160px;
    font-size: 4.0vw;
    color: #1b2658;
  }
  .section6Email {
    font-size: 6.0vw;
    color: white;
  }
  .footerContact {
    margin-bottom: 32px;
  }
  .footerContact > div {
    display: inline-block;
    width: 36px;
  }
  .section5YellowSubtitle {
    font-size: 4.5vw;
    width: 55%;
    margin: -78px -40px 0 -10px;
  }
  .section5_4 button {
    position: absolute;
    right: -30px;
    top: 40px;
    font-size: 16px;
    line-height: 42px;
    border-radius: 2px;
  }
}
@media (max-width: 1080px) {
  .flexMo {
    display: flex;
  }
  .section5 {
    padding: 120px 0;
  }
  .section5 > .flexbox {
    display: block;
    margin-left: auto;
    right: auto;
  }
  .section5 > .flexbox > div {
    width: 100%;
    margin-top: 96px;
  }
  .section5_0 {
    text-align: center;
  }
  .section5Desc {
    max-width: 440px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .section5Number {
    font-size: 220px;
  }
  .section5Title {
    font-size: 8vw;
  }
  .section5WhiteBox {
    margin-left: 24px !important;
    margin-right: 24px !important;
    z-index: 2;
  }
  .section5_1Header .spacerLeft,
  .section5_1Header .spacerRight {
    -webkit-flex: 1;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .section5_1Header .spacerMiddle {
    -webkit-flex: 2;
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
  }
  .section5_2 .section5Number {
    left: 0;
    top: -40px;
  }
  .section5_2 .section5Content {
    display: block;
  }
  .section5_2 .section5Img {
    width: 50%;
  }
  .section5_2 .section5Title {
    width: 50%;
    margin: 60px 0 0 16px;
  }
  .section5_2 .section5Img img {
    width: 100%;
  }
  .section5_2 .section5WhiteBox {
    margin-top: -50vw;
  }
  .section5_3 .section5Number {
    right: 8px;
    top: -45px;
  }
  .section5_4 {
    margin-top: 140px !important;
  }
  .section5_4 .section5Number {
    left: -20px;
    top: -100px;
  }
  .section5YellowBox {
    margin: 0 24px;
    padding: 64px 24px;
  }
  .section5_4Input {
    margin-right: 32px;
  }
  .section6ImageSubtitle {
    display: none;
  }
}
/* Tablet */
@media (min-width: 640px) and (max-width: 1080px) {
  .flexTablet {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
  }
  .section5Title {
    font-size: 6vw;
  }
  .section5_1 {
    padding: 0 16px;
  }
  .section5_1_headerImage {
    -webkit-flex: 1.5;
    -webkit-box-flex: 1.5;
    -ms-flex: 1.5;
    flex: 1.5;
  }
  .section5_1 .section5WhiteBox {
    -webkit-flex: 1;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 128px 0 0 0 !important;
  }
  .section5_1 .section5BlueBox {
    margin-right: -24px;
  }
  .section5BlueBox {
    font-size: 14px;
    padding: 16px 24px !important;
  }
  .section5_2 .section5Number {
    left: 5%;
  }
  .section5_2 .section5Title {
    padding: 36px 0 0 48px;
  }
  .section5_2 > .flexMo {
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .section5_2 .section5WhiteBox {
    margin-right: 40vw !important;
    /* margin-top: 40vw !important; */
    margin-top: -60vw !important;
    margin-bottom: 20vw !important;
  }
  .section5_3 .section5Number {
    left: 8px;
  }
  .section5_3 .section5BlueBox {
    margin-left: 24px !important;
    margin-right: -16px !important;
    float: right;
  }
  .section5_3 .section5WhiteBox {
    margin: 0 16px 0 0 !important;
  }
  .section5_3 img {
    margin: 16px 0 !important;
  }
  .section5_4 .section5Number {
    left: 8px;
  }
  .section5YellowBox .section5Content {
    display: block;
    max-width: 30%;
    margin-right: 48px;
  }
  .section5YellowSubtitle {
    margin: 24px 0 0 0;
  }
  .section5YellowSubtitle {
    font-size: 22px;
  }
}
