@topBarHeight: 50px;
@topBarPadding: 46px;
@pageWidth: 1280px;
@paddingPage: 20px;
@maxWidthWide: 600px;
@colorGreen: #44d08c;
@colorYellow: #d4b166;
@colorLightBlue: #b3c7e6;
@colorText: #64859f;
@circleButtonSize: 84px;
@fontGiant: 'Playfair Display', 'Helvetica Neue', Helvetica, Arial, Sans-serif;
@maxSizeClip: 631px;
@maxWidthAbout: 528px;

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.flex(@value: 1) {
    -webkit-flex: @value;
    -webkit-box-flex: @value;
    -ms-flex: @value;
    flex: @value;
}
.rotate(@amt: 0) {
    -webkit-transform: rotate(@amt);
    -moz-transform: rotate(@amt);
    -o-transform: rotate(@amt);
    transform: rotate(@amt);
}
.flex-reverse(@amt: 0) {
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
.mw {
    position: relative;
    width: 100%;
    max-width: @pageWidth;
    margin-left: auto;
    margin-right: auto;
    padding: 0 @paddingPage;
}
.nopad {
    padding: 0;
}
.twoCol {
    >div {
        flex: 50%;
        width: 50%;
    }
}
.ib {
    display: inline-block;
}
.rel {
    position: relative;
}

.w100 {
    width: 100%;
}

// .gradientTop {
//     position: absolute;
//     left: -240px;
//     top: -120px;
//     // padding-top: 120px;
//     width: @pageWidth + 20;
//     // width: 100%;
//     // height: 100%;
//     overflow: visible;
// }

.topClipper {
    @width: 1520px;
    @padTop: 80px;
    @marginRight: 195px;
    position: absolute;
    top: -@padTop;
    left: 50%;
    width: @width;
    height: @width;
    margin-left: -@width / 2 - @marginRight;
    overflow: auto;
    .gradientTop {
        position: relative;
        width: @width;
        height: @width;
        padding-top: @padTop;
        margin-left: 50px;
    }
    .headerInside {
        position: absolute;
        left: 50%;
        margin-left: @marginRight;
        width: 500px;
        max-width: 50vw;
        .headerInsideRight {
            @maxSize: 900px;
            font-size: 100px;
            color: #0c2153;
            opacity: 0.15;
            text-align: right;
            margin-top: 48px;
            line-height: 1;
            white-space: nowrap;
            float: right;
            .giantText1 {
                margin-right: 24px;
            }
            .giantText2 {
                margin-right: 48px;
            }
            .giantText3 {
                margin-right: 24px;
            }
            .giantText4 {
                margin-right: 36px;
            }
            @media (min-width: (@maxSize + 1)) {
                font-size: 100px;
            }
        }
    }
    @media (max-width: (@maxSizeClip)) {
        @width2: 1280px;
        width: @width2;
        height: @width2;
        margin-left: -@width2 / 2 + 150;
        .gradientTop {
            width: @width2;
            height: @width2;
            background-image: -moz-linear-gradient( 135deg, rgb(178,37,226) 45%, rgb(102,105,234) 65%, rgb(26,173,241) 90%);
            background-image: -webkit-linear-gradient( 135deg, rgb(178,37,226) 45%, rgb(102,105,234) 65%, rgb(26,173,241) 90%);
            background-image: -ms-linear-gradient( 135deg, rgb(178,37,226) 45%, rgb(102,105,234) 65%, rgb(26,173,241) 90%);
            // width: @width2;
            // height: @width2;
            // margin-top: -150px;
            margin-left: 0;
        }
    }
}

.gradientTop {
    overflow: visible;
    background-image: -moz-linear-gradient( 135deg, rgb(178,37,226) 35%, rgb(102,105,234) 55%, rgb(26,173,241) 90%);
    background-image: -webkit-linear-gradient( 135deg, rgb(178,37,226) 35%, rgb(102,105,234) 55%, rgb(26,173,241) 90%);
    background-image: -ms-linear-gradient( 135deg, rgb(178,37,226) 35%, rgb(102,105,234) 55%, rgb(26,173,241) 90%);
    -webkit-clip-path: url(#svgPath);
    clip-path: url(#svgPath);
}

.imgDevice {
    @marginLeft: 140px;
    @marginRight: 0px;
    @marginTotal: @marginLeft + @marginRight + 40;
    margin-top: -180px;
    margin-right: -@paddingPage;

    img {
        width: 100%;
        width: ~'-webkit-calc(100% + @{marginTotal})';
        width: ~'calc(100% + @{marginTotal})';
        margin-left: -@marginLeft;
        margin-right: -@marginRight;
        animation: pulseDevice 6s ease-in-out infinite;
    }
}

@keyframes pulseDevice {
  0% { transform: translate3d(0, 0, 0); }
  50% { transform: translate3d(0, 20px, 0); }// scale(1.02); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes pulseArrow {
  0% { transform: translate3d(0, 0, 0); }
  50% { transform: translate3d(8px, 0, 0); }
  100% { transform: translate3d(0, 0, 0); }
}

#about {
    .flex-wrap;
    .imgHelicopter {
        margin-top: -200px;
        margin-right: -@paddingPage - 90;
    }
    >div {
        min-width: 300px;
    }
    @media (max-width: @maxWidthAbout) {
        .imgHelicopter {
            margin-top: -160px;
            margin-bottom: 60px;
        }
    }
    @media (min-width: (@maxWidthAbout + 1)) {
        .flex-reverse;
    }
}

.center {
    text-align: center;
}

.button {
    position: relative;
    display: inline-block;
    margin-top: 32px;
    font-size: 15px;
    color: white;
    font-weight: bold;
    white-space: nowrap;
    cursor: pointer;
    .buttonInside {
        padding: 10px 20px;
    }
    &:hover {
        .buttonInside {
            background-color: rgba(0,0,0,0.1);
        }
        .rightArrow {
            animation: pulseArrow 0.8s ease-in-out infinite;
        }
    }
}

button {
    cursor: pointer;
}

.buttonGetInTouch {
    background: @colorGreen;
}
.buttonWhatWeDo, .buttonOurWork {
    background: #fbf7ef;
    color: @colorYellow;
}
.buttonOurTeam {
    background: rgba(100,133,159,0.1);
    color: @colorText;
}

.rightArrow {
    display: inline-block;
    vertical-align: top;
    margin-left: 8px;
    margin-top: -1px;
}

.clientImages {
    text-align: right;
    height: 200px;
    @media (max-width: @maxWidthAbout) {
        margin-top: -1em;
        margin-bottom: 3em;
    }
    @media (min-width: (@maxWidthAbout + 1)) and (max-width: @maxSizeClip) {
        margin-top: -2em;
        margin-bottom: 6em;
    }
    @media (min-width: (@maxSizeClip + 1)) and (max-width: 800px) {
        margin-bottom: 10em;
    }
    @media (min-width: 801px) and (max-width: 1150px)  {
        margin-top: 0em;
        margin-bottom: 13em;
    }
    @media (min-width: 1151px) {
        margin-top: -4em;
        margin-bottom: 13em;
    }
    img {
        width: 700px;
        max-width: 90%;
    }
}

.stat {
    font-size: 14px;
    font-weight: bold;
    >div:first-child {
        font-family: @fontGiant;
    }
    &.vert + .stat {
        margin-top: 16px;
    }
    &:not(.vert) {
        margin-top: 16px;
        &:not(:last-child) {
            margin-right: 16px;
        }
    }
}

.sectionCurveClip {
    @size: 1200px;
    position: relative;
    margin-left: -@size;
    margin-right: -@size;
    .sectionCurveInside {
        position: relative;
        margin-left: @size;
        margin-right: @size;
    }
}

.sectionTeamBG {
    border-radius: 50% 50% 0 0;
    background-image: -moz-linear-gradient( 90deg, rgb(15,23,40) 0%, rgb(35,53,97) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(15,23,40) 0%, rgb(35,53,97) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(15,23,40) 0%, rgb(35,53,97) 100%);
    padding-top: 160px;
    padding-bottom: 80px;
    color: white;
    .sneakyTitle {
        color: rgba(255,255,255, 0.04) !important;
    }
    .sectionTitle {
        color: white;
    }
}

.sectionTeamImgs {
    text-align: center;
    margin-top: 96px;
    >div {
        margin: 0 -@paddingPage;
        margin-top: 16px;
        >* {
            &:not(:last-child) {
                margin-right: 16px;
            }
        }
        &:first-child {
            align-items: flex-end;
        }
        &:last-child {
            align-items: flex-start;
        }
    }
    .stat {
        color: #0d2252;
        >div:first-child {
            font-family: @fontGiant;
        }
    }
    img {
        width: 100%;
    }
    .team1 {
        .flex(3);
    }
    .team2 {
        .flex(2);
    }
    .team3 {
        .flex(2.5);
    }
    .teamStats1 {
        text-align: left;
        .flex(2);
    }
    .teamStats2 {
        text-align: right;
        .flex(2);
    }
    .team4 {
        .flex(3);
    }
    .team5 {
        .flex(5);
    }
    .teamStatsMo {
        padding: 8px 24px;
        >div {
            margin-top: 0;
            &:nth-child(2) {
                margin-top: -8px;
            }
            &:nth-child(3) {
                margin-top: 8px;
            }
            &:nth-child(4) {
                margin-top: -12px;
            }
            &:nth-child(5) {
                margin-top: 12px;
            }
        }
        .stat >div:last-child {
            font-size: 8px;
        }
    }
    @minWidth: 500px;
    @media (max-width: @minWidth) {
        margin-top: 48px;
        .teamStats1, .teamStats2 {
            display: none;
        }
        .team2 {
            margin-bottom: 12px;
        }
        .team3 {
            margin-bottom: -12px;
        }
        .team5 {
            margin-top: 12px;
        }
    }
    @media (min-width: (@minWidth + 1)) {
        .teamStatsMo {
            display: none;
        }
    }

     @media (max-width: 860px) {
        .stat>div:first-child {
            font-size: 20px;
        }
        .stat>div:last-child {
            font-size: 13px;
        }
        .teamStats1 {
            .stat {
                padding-left: 16px;
                &:last-child {
                    margin-bottom: 8px;
                }
            }
        }
        .teamStats2 {
            margin-top: 40px;
            .stat {
                padding-right: 16px;
            }
        }
    }
    @media (min-width: 861px) and (max-width: 1000px) {
        .stat>div:first-child {
            font-size: 26px;
        }
        .stat>div:last-child {
            font-size: 13px;
        }
        .teamStats1 {
            .stat {
                padding-left: 16px;
                &:last-child {
                    margin-bottom: 8px;
                }
            }
        }
        .teamStats2 {
            margin-top: 40px;
            .stat {
                padding-right: 16px;
            }
        }
    }
    @media (min-width: 1001px) and (max-width: (@pageWidth)) {
        .stat>div:first-child {
            font-size: 36px;
        }
        .stat>div:last-child {
            font-size: 14px;
        }
        .teamStats1 {
            .stat {
                padding-left: 32px;
                &:last-child {
                    margin-bottom: 20px;
                }
            }
        }
        .teamStats2 {
            margin-top: 80px;
            .stat {
                padding-right: 32px;
            }
        }
    }
    @media (min-width: (@pageWidth + 1)) {
        .stat>div:first-child {
            font-size: 36px;
        }
        .stat>div:last-child {
            font-size: 14px;
        }
        .teamStats1 {
            .stat {
                padding-left: 32px;
                &:last-child {
                    margin-bottom: 60px;
                }
            }
        }
        .teamStats2 {
            margin-top: 80px;
            .stat {
                padding-right: 32px;
            }
        }
    }
}

.sectionWork {
    padding-top: 160px;
    @minWidth: 600px;
    @media (max-width: @minWidth) {
        padding-top: 80px;
    }
}

.sectionClients {
    >div {
        margin: 100px 0;
        .flex-wrap;
        >div {
            min-width: @maxWidthWide / 2 - 7;
        }
    }
    .clientText {
        >div {
            max-width: 460px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .companyLogo {
        display: inline-block;
        height: 48px;
        margin-right: 16px;
        vertical-align: top;
        margin-top: 9px;
        img {
            height: 100%;
        }
    }
    .companyName {
        color: #0c2153;
        font-size: 26px;
    }
    .text {
        margin-top: 32px;
    }
    .companyDetails {
        color: @colorYellow;
        font-size: 16px;
    }
    .companyLocation {
        font-weight: bold;
        color: @colorYellow;
    }

    .imgNeedsPad:first-child {
        padding-right: 100px;
    }
    .imgNeedsPad:last-child {
        padding-left: 100px;
    }
    @imgExtra: 20%;
    .clientLeft {
        margin-left: -@paddingPage;
        // .imgWrap {
        //     max-width: 50%;
        // }
        .imgWrap img {
            margin-left: -@imgExtra;
            width: 100% + @imgExtra * 2;
        }
    }
    .clientRight {
        margin-right: -@paddingPage;
        .imgWrap img {
            margin-right: -@imgExtra;
            width: 100% + @imgExtra * 2;
        }
        @media (min-width: (@maxWidthWide + 1)) {
            .flex-reverse;
        }
    }
    .imgGuavapass img, .imgWeInvest img {
        margin-top: -15%;
    }
    @minWidth: 960px;
    .companyStats {
        @media (min-width: (@minWidth + 1)) {
            white-space: nowrap;
        }
    }
    .stat {
        color: #61829c;
        @media (max-width: (@minWidth)) {
            >div:first-child {
                font-size: 26px;
            }
            >div:last-child {
                font-size: 12px;
            }
        }
        @media (min-width: (@minWidth + 1)) {
            >div:first-child {
                font-size: 28px;
            }
        }
        @media (max-width: (@maxWidthWide)) {
            >div:first-child {
                font-size: 22px;
            }
            >div:last-child {
                font-size: 10px;
            }
        }
        @media (max-width: 406px) {
            &:not(:last-child) {
                margin-right: 12px;
            }
        }
    }
    @media (max-width: (@maxWidthWide)) {
        >div {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
        .imgWrap {
            text-align: center;
        }
        .imgWrap img {
            max-width: 100%;
            margin: 0;
        }
        .imgMcDonalds img {
            width: 160% !important;
            max-width: 160% !important;
            margin-left: -30% !important;
        }
        .imgGuavapass img {
            width: 160% !important;
            max-width: 160% !important;
            margin-left: -5% !important;
        }
        .imgWeInvest img {
            width: 160% !important;
            max-width: 160% !important;
            margin-left: -20% !important;
        }
    }
}

.smallTeamText {
    max-width: 540px;
    margin: 0 auto 100px auto;
}

.teamPeople {
    text-align: center;
    max-width: 900px;
    margin: -40px auto 0 auto;
    .teamPerson {
        width: 100% / 7;
    }
    .teamName {
        color: @colorYellow;
        font-size: 22px;
        white-space: nowrap;
        overflow: hidden;
        text-align: left;
        // margin-top: -60px;
        margin-bottom: -20px;
        height: 200px;
        font-family: @fontGiant;
        // min-width: 120px;
        @media (max-width: (800px)) {
            margin-bottom: -60px;
        }
        @media (max-width: (650px)) {
            margin-bottom: -80px;
        }
        >div {
            margin-top: 80px;
            // transform-origin: 50% 100%;
            .rotate(-90deg);
        }
    }
    .teamPortrait {
        position: relative;
        margin: 0 8px;
        height: 108px;
        >div {
            position: relative;
            height: 100%;
        }
        img {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            // height: 100px;
        }
        &.imgSmaller>div {
            margin: 0 6px;
        }
    }
    .teamFlag {
        @size: 26px;
        position: relative;
        margin-top: -@size / 2;
        text-align: center;
        z-index: 1;
        div {
            text-align: center;
        }
        img {
            width: @size;
        }
    }
    .teamTime {
        font-family: @fontGiant;
        font-size: 24px;
        sup {
            font-size: 16px;
            font-weight: 600;
            margin-left: 8px;
        }
    }
    .teamCountry {
        margin-top: 8px;
        font-weight: bold;
        font-size: 13px;
    }
    @media (max-width: (@maxWidthWide)) {
        .flex-wrap;
        text-align: center;
        .teamPerson {
            width: 100% / 4;
            &:nth-child(5) {
                margin-left: 100% / 8;
            }
        }
        .teamName {
            margin-bottom: 0px;
        }
    }

    @media (max-width: (520px)) {
        margin-top: -60px;
        .teamName {
            margin-top: 20px;
            margin-bottom: -40px;
        }
    }
    @media (max-width: (440px)) {
        margin-top: -60px;
        .teamName {
            margin-top: 30px;
            margin-bottom: -60px;
        }
    }
}

.sectionTestimonials {
    padding-top: 140px;
    @media (max-width: (@maxWidthWide)) {
        padding-bottom: 60px;
        .logoBig {
            display: none;
        }
    }
    @media (min-width: (@maxWidthWide + 1)) {
        padding-bottom: 180px;
    }
    background: #f8fafb;
    border-radius: 0 0 50% 50%;
    .sneakyTitle {
        color: rgba(0, 0, 0, 0.03) !important;
    }
    .logoBig {
        @size: 700px;
        position: absolute;
        left: -@size / 2;
        top: -140px;
        width: @size;
    }
}

.testimonials {
    @clip: @pageWidth;
    position: absolute;
    left: 0;
    right: 0;
    // height: 400px;
    z-index: 1;
    margin-top: 60px;
    .scroller {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        white-space: nowrap;
        z-index: 1;
        >div {
            white-space: normal;
            display: inline-block;
            width: 300px;
            padding-bottom: 48px;
            vertical-align: top;
            + div {
                margin-left: 32px;
            }
        }
    }
    @media (max-width: @clip) {
        .scroller {
            padding-left: 16px;
            padding-right: 16px;
            >div + div {
                margin-left: 16px;
            }
        }
    }
    @media (min-width: (@clip + 1)) {
        .scroller {
            padding-left: ~'calc((100vw - @{pageWidth}) / 2)';
            padding-right: ~'calc((100vw - @{pageWidth}) / 2)';
        }
    }
    .testimonialLogo {
        text-align: center;
        margin: 24px 0;
        img {
            height: 36px;
        }
    }
    .whiteBox {
        padding: 32px;
        // height: 380px;
        background: white;
        border-radius: 12px;
        box-shadow: 0px 6px 30px rgba(92, 95, 101, 0.15);
        // justify-content: space-between;
    }
    .person {
        margin-top: 16px;
        line-height: 1.3;
        color: #acb1be;
        img {
            width: 44px;
            height: 44px;
            margin-right: 16px;
        }
        >.f1>div:not(.fontGiant) {
            font-size: 15px;
            font-style: italic;
        }
    }
}

.sectionFeaturedWrite {
    margin-top: 620px;
    .flex-wrap;
    >div {
        min-width: @maxWidthWide / 2 - 16;
    }
    .rowFeatured {
        padding: 0 24px;
        img {
            margin-right: 32px;
            margin-top: 24px;
        }
        #imgBusiness {
            margin-top: 32px;
        }
    }
    .writeTitle {
        @height: 42px;
        line-height: @height;
        .logo {
            height: @height;
            vertical-align: middle;
        }
        .yellowSlash {
            font-size: 48px;
            margin: 0 16px;
            color: #ffba00;
            vertical-align: top;
        }
    }
    .inputWrapper {
        position: relative;
        max-width: 360px;
        margin: 24px 0 0 24px;
    }

    button {
        position: absolute;
        right: -16px;
        bottom: -24px;
        background-color: @colorGreen;
        box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, 0.15);
        color: white;
        border: 0;
        line-height: 42px;
        font-weight: bold;
        padding: 0;
        vertical-align: bottom;
        font-family: inherit !important;
        .buttonInside {
            padding: 0 16px;
        }
    }

    input {
        line-height: 48px;
    }
    @media (max-width: (@maxWidthWide)) {
        text-align: center;
        .sectionFeatured {
            margin-bottom: 48px;
        }
        .sectionSignup {
            >div {
                margin-left: 0 !important;
            }
            .inputWrapper {
                margin-left: 24px !important;
                margin-right: 24px !important;
            }
        }
    }
}

input, textarea {
    border: 0;
    padding: 0 16px;
    font-size: 16px;
    font-weight: bold;
    color: #1b2658;
    border-radius: 6px;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
}

input::placeholder {
    color: rgba(100,133,159,0.5);
}

.sectionFeatured, .sectionSignup {
    >div {
        max-width: 500px;
        margin: 0 auto;
    }
}

.sectionFeatured {
    z-index: 1;
    .sneakyTitle {
        text-align: left;
        @media (min-width: (@maxWidthWide + 1)) {
            left: -24px;
        }
    }
}

.sectionSignup {
    position: relative;
    padding-top: 60px;
    >div {
        position: relative;
        margin-left: 60px;
    }
    .sneakyTitle {
        text-align: left;
        left: 160px;
        top: -26px;
    }
    .shapeBlog {
        @width: 780px;
        position: absolute;
        left: -20px;
        top: -200px;
        width: @width;
        height: round(@width * 1089 / 1435);
    }
}

.sectionReady {
    padding-top: 80px;
    padding-bottom: 120px;
    .flex-wrap;
    >div {
        min-width: @maxWidthWide / 2 - 16;
    }
    .sectionText {
        @media (max-width: (@maxWidthWide)) {
            padding-top: 60px;
        }
        @media (min-width: (@maxWidthWide + 1)) {
            padding-top: 120px;
        }
    }
    .sneakyTitle {
        text-align: left;
        @media (min-width: (@maxWidthWide + 1)) {
            left: -54px;
        }
    }
}

.emailAddress {
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
}

.sectionContact {
    >* {
        max-width: 500px;
        margin: 0 auto;
    }
    fieldset {
        border: 0;
    }
    .text {
        font-weight: bold;
        font-size: 16px;
        margin-top: 16px;
        margin-bottom: 8px;
    }
    input, textarea, button {
        -webkit-appearance: none;
        box-shadow: 12px 20px 48px rgba(0, 0, 0, 0.06),
                    0 0 10px rgba(0, 0, 0, 0.05);
    }
    input {
        display: block;
        line-height: 42px;
    }
    textarea {
        height: 160px;
        padding: 12px;
        font-size: 14px;
        font-weight: normal;
        resize: none;
    }
    input[type="submit"] {
        position: absolute;
        bottom: -48px;
        right: 16px;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
    }
}

.footerRow1 {
    @height: 24px;
    .footerLine {
        width: 100%;
        border-top: 1px solid @colorLightBlue;
        opacity: 0.3;
        margin-top: @height / 2 - 1;
    }
    a {
        color: @colorLightBlue;
        margin-left: 28px;
        font-size: 22px;
    }
}

.footerRow2 {
    @height: 34px;
    @padding: 24px;
    line-height: @height;
    padding-top: @padding;
    padding-bottom: @padding;
    white-space: nowrap;
    .flex-wrap;
    @media (max-width: (@maxWidthWide)) {
        text-align: center;
        >div {
            margin-left: auto;
            margin-right: auto;
        }
        .footerRight, .f1 {
            display: none;
        }
    }
    .footerLogo {
        height: @height;
    }
    .footerLogoName {
        height: @height;
        margin-right: 16px;
    }
    .iconHeart {
        color: #ff3d00;
    }
    a {
        color: @colorLightBlue !important;
    }
    >* {
        vertical-align: middle;
    }
}

.iconHeart {
    fill: red;
    position: relative;
    top: 3px;
    width: 16px;
    margin: 0 6px;
    animation: pulse 1s ease infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.timeColon {
    animation: pulseOpacity 2s ease infinite;
}

@keyframes pulseOpacity {
  0% { opacity: 1; }
  50% { opacity: 0.1; }
  100% { opacity: 1; }
}


.fill {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.flexbox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
}

.flexvert {
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;

    justify-content: space-around;
    -ms-justify-content: space-around;
    -webkit-justify-content: space-around;

    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-box-orient: vertical;
}

.flex-wrap(@amt: 0) {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.f1 {
    -webkit-flex: 1;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.abs {
    position: absolute;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-size: 17px;
    margin: 0;
    width: 100%;
    line-height: 1.5;
    overflow-x: hidden;
    font-family: 'Assistant', 'Helvetica Neue', Helvetica, Arial, Sans-serif;
    text-rendering: optimizeLegibility;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    scroll-behavior: smooth;
}

.fontTitle {
    font-weight: bold;
}

.fontGiant {
    font-family: @fontGiant;
    font-weight: 700;
}

.text {
    color: @colorText;
    font-weight: 600;
}

.sectionTitle {
    position: relative;
    padding-bottom: 16px;
    color: #232e3f;
    font-size: 28px;
    line-height: 1.4;
    @media (max-width: 500px) {
        font-size: 26px;
    }
    @media (max-width: 400px) {
        font-size: 24px;
    }
}

.sneakyTitle {
    position: absolute;
    left: 0;
    right: 0;
    top: -54px;
    color: rgba(12,33,88, 0.08);
    font-size: 64px;
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
}

.sectionText {
    >div {
        max-width: 380px;
    }
    .sectionTitle {
        // padding-right: 20px;
        margin: 0 auto;
    }
    >div:not(.sectionTitle) {
        margin: 0 auto;
    }
    .button {
        margin-left: -16px;
    }
}

/* Header */
.header {
    position: relative;
    height: 740px;
}

.topBar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: right;
    font-weight: bold;
    line-height: @topBarHeight;
    height: @topBarHeight;
    margin-top: @topBarPadding;
    z-index: 1;
    a {
        color: #43357f;
    }
    .circleButton {
        margin-top: -(@circleButtonSize - @topBarHeight) / 2;
        margin-left: 16px !important;
    }
    * {
        // vertical-align: middle;
        white-space: nowrap;
    }
    @imgHeight: 40px;
    .headerLogo {
        @height: @imgHeight + 8;
        height: @height;
    }
    .headerLogoName {
        @height: @imgHeight;
        display: inline-block;
        height: @height;
        margin-left: 16px;
        vertical-align: top;
        margin-top: 4px;
    }
    @media (max-width: 730px) {
        display: block !important;
        text-align: center;
        margin-top: 16px;
        line-height: 36px;
        padding-left: 32px;
    }
    @media (max-width: 631px) {
        text-align: left;
        .headerLogo {
            height: @imgHeight;
        }
        .headerLogoName {
            height: @imgHeight - 8;
        }
        .headerRight {
            display: none;
        }
    }
}

.headerFooter a:not(.headerLogo) {
    margin-left: 8px;
    margin-right: 8px;
    font-size: 16px;
    text-decoration: none;
}

.circleButton {
    @size: @circleButtonSize;
    display: inline-block;
    color: white !important;
    width: @size;
    height: @size;
    line-height: @size;
    text-align: center;
    // padding: 2px 20px;
    border-radius: 50%;
    background: #d2b16a;
}

.headerInside {
    padding-top: @topBarHeight + @topBarPadding;
    height: 700px;
    .flex-wrap;
    >div {
        min-width: 300px;
    }
    @minWidth: 631px;
    @media (max-width: @minWidth) {
        text-align: center;
        // width: 100vw !important;
        .fontGiant {
            display: none;
            // font-size: 60px !important;
            // margin-top: 120px !important;
            // text-align: left !important;
            // float: none !important;
            // line-height: 1.05 !important;
        }
        .imgDevice {
            margin-top: -230px;
            margin-bottom: -130px;
            width: 110%;
            margin-left: -3%;
        }
        .headerInsideLeft {
            margin: 0 auto;
        }
        .headerInsideLeft > div {
            padding-right: 0;
        }
    }
    @media (min-width: (@minWidth + 1)) {
        .flex-reverse;
    }
}

.gradientTop .headerInside {
    @minWidth: 631px;
    @media (max-width: @minWidth) {
        margin-left: -50vw;
        width: 100vw !important;
        max-width: 100vw !important;
    }
}

.headerInsideLeft {
    justify-content: center;
    -ms-justify-content: center;
    -webkit-justify-content: center;
    max-width: 400px;
    margin-left: 74px;
    @media (max-width: 732px) {
        margin: 0 auto;
    }
    font-weight: 600;
    font-size: 17px;
    color: @colorLightBlue;
    .fontTitle {
        font-size: 34px;
        margin-bottom: 24px;
        line-height: 1.3;
        color: white;
    }
    >:not(.fontTitle) {
        padding-right: 32px;
    }
}


/*******************************
******* Error / Success ********
*******************************/

#success,
#error {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0,0,0,.9);
}

#success>div,
#error>div {
    text-align: center;
    height: 100%;
}

#success h1,
#error h1 {
	margin-bottom: 0;
	color: #005ebf;
}


#success p,
#error p {
    color: #747474;
}

@media all and (max-width: 480px) {
	#success h1,
	#error h1 {
        font-size: 60px;
	}
}