@font-face {
  font-family: 'Aktiv';
  src: url('fonts/aktivgrotesk_rg-webfont.woff2') format('woff2'), url('fonts/aktivgrotesk_rg-webfont.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'Aktiv';
  src: url('fonts/aktivgrotesk_bd-webfont.woff2') format('woff2'), url('fonts/aktivgrotesk_bd-webfont.woff') format('woff');
  font-weight: bold;
}
@font-face {
  font-family: 'Aktiv';
  src: url('fonts/AktivGrotesk-Medium.woff2') format('woff2'), url('fonts/AktivGrotesk-Medium.woff') format('woff');
  font-weight: 500;
}
@font-face {
  font-family: 'Aktiv';
  src: url('fonts/AktivGrotesk-XBold.woff2') format('woff2'), url('fonts/AktivGrotesk-XBold.woff') format('woff');
  font-weight: 900;
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.mw {
  position: relative;
  width: 100%;
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}
.ios10 .mw {
  -webkit-transform: translate3d(0, 0, 0);
}
.nopad {
  padding: 0;
}
.twoCol > div {
  -webkit-flex: 1 1 15em;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1 1 15em;
  width: 50%;
}
.b {
  font-weight: bold;
}
.b5 {
  font-weight: 500;
}
.ib {
  display: inline-block;
}
.rel {
  position: relative;
}
.w100 {
  width: 100%;
}
.safari .topClipper {
  overflow: auto;
}
.safari .topClipper::-webkit-scrollbar {
  display: none;
}
.imgDevice {
  height: 100%;
  z-index: 1;
}
.imgDevice img {
  height: 100%;
}
@keyframes pulseDevice {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, 20px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes pulseArrow {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(8px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
.sectionAbout {
  margin-top: -30px;
  padding-bottom: 90px;
  z-index: -2;
}
.sectionAbout .graylogo img {
  width: 24px;
}
.sectionAbout .textAbout {
  font-weight: 500;
  font-size: 22px;
  margin: 20px auto 0 auto;
  font-weight: bold;
  max-width: 680px;
}
.sectionAbout .logos {
  text-align: center;
  margin-top: 80px;
}
.sectionAbout .logos img {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.sectionAbout .textTitle,
.sectionAbout .textLight {
  max-width: 380px;
  margin: 0 auto;
  text-align: center;
}
.sectionAbout .graybox {
  background: #f0f0f0;
  padding: 80px 16px;
  max-width: 1140px;
  margin: 0 auto 90px auto;
}
.center {
  text-align: center;
}
.button {
  position: relative;
  display: inline-block;
  margin-top: 32px;
  font-size: 15px;
  color: white;
  white-space: nowrap;
  cursor: pointer;
  text-align: left;
}
.button .buttonInside {
  padding: 10px 20px;
  align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
}
.button .rightArrow {
  margin-left: 48px;
}
.button:hover .buttonInside {
  background-color: rgba(0, 0, 0, 0.1);
}
.button:hover .rightArrow {
  animation: pulseArrow 0.8s ease-in-out infinite;
}
button {
  cursor: pointer;
}
.buttonGetInTouch {
  background: #FF517B;
  background-image: linear-gradient(90deg, #FF517B 0%, #FF7023 100%);
  border-radius: 4px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}
.buttonGetInTouch .textButtonLight {
  opacity: 0.6;
}
.sectionWorld {
  margin-top: 120px;
  padding: 0 0 60px 0;
}
.sectionWorld .worldOval {
  position: absolute;
  left: -90px;
  top: -120px;
  z-index: -1;
}
.sectionWorld .worldOval svg {
  overflow: visible;
}
.sectionWorld .worldTextTop {
  margin-left: 60px;
}
.sectionWorld .worldTextTop .textTitle {
  max-width: 450px;
}
.sectionWorld .worldTextTop .textLight {
  margin-top: 60px;
  max-width: 340px;
}
.sectionWorld .teamImgs {
  margin-top: -20px;
}
.sectionWorld .teamImgs div {
  margin: 0 10px;
}
.sectionWorld .teamImgs div:last-child {
  width: 16%;
}
.sectionWorld .teamImgs div:last-child img:last-child {
  margin-top: 16px;
}
.sectionWorld .teamImgs div:not(:last-child) {
  margin-top: 8%;
}
.sectionWorld .teamImgs img {
  width: 100%;
}
.sectionWorld .worldTextBottom {
  margin-left: auto;
  max-width: 340px;
  margin-right: 160px;
}
.sectionWorld .worldTextBottom div {
  text-align: left;
}
.sectionTeam {
  background-image: linear-gradient(-158deg, #2E1E76 0%, #3B6CC1 97%);
  padding: 100px 0;
  color: #B0B5CD;
}
.sectionTeam .textTitle {
  color: white;
}
.sectionTeam .teamGrid {
  width: 100%;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.sectionTeam .teamGrid > div {
  min-width: 25%;
  max-width: 295px;
  -webkit-flex: 1;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.sectionTeam .teamText {
  width: 110%;
}
.sectionTeam .teamPerson {
  padding: 0 32px 40px 0;
}
.sectionTeam .teamPerson > img {
  width: 100%;
  height: 328px;
  border-radius: 3px;
  overflow: hidden;
}
.sectionTeam .teamPerson .teamName {
  color: #D4B166;
  font-size: 24px;
}
.sectionTeam .teamPerson .teamTime {
  margin: -64px -8px 0 0;
  text-align: right;
  font-size: 22px;
  color: white;
  opacity: 0.6;
  font-weight: bold;
}
.sectionTeam .teamClients {
  margin-top: 80px;
  color: white;
  opacity: 0.72;
}
.sectionTeam .teamClients > div {
  max-width: 1000px;
}
.sectionTeam .teamClients img {
  margin-top: 40px;
  width: 100%;
}
.sectionTeam .teamStats {
  margin-top: -80px;
  padding-left: 40px;
}
.sectionTeam .teamStats div:nth-child(2n + 1) {
  color: white;
  font-size: 28px;
  margin-top: 12px;
  font-weight: bold;
}
.sectionTeam .teamStats div:nth-child(2n) {
  font-size: 15px;
  line-height: 1.1;
  font-weight: 500;
}
.sectionTeam .teamBattle {
  padding-top: 160px;
}
.sectionTeam .teamBattle > div:last-child {
  color: white;
  margin-top: 40px;
}
.sectionBottom {
  position: relative;
  padding-top: 200px;
  text-align: center;
  overflow: hidden;
}
.sectionBottom .bottomOval {
  position: absolute;
  left: 0;
  top: 0;
}
.sectionBottom .bottomOval svg {
  overflow: visible;
}
.sectionBottom .textTitle {
  color: white;
  margin: 0 auto;
}
.sectionBottom .text {
  margin: 0 auto;
  color: white;
  max-width: 500px;
  opacity: 0.72;
}
.sectionBottom .bottomText {
  position: relative;
  z-index: 1;
}
.sectionBottom .bottomHeart {
  margin-top: 200px;
  font-size: 14px;
  padding-bottom: 8px;
}
.sectionBottom .bottomHeart span {
  color: white;
  opacity: 0.4;
}
.sectionClients {
  margin-top: -40px;
}
.sectionClients > .flexbox {
  align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
}
.sectionClients > div + div {
  margin-top: 180px;
}
.sectionClients .clientRight {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.sectionClients .clientRight .clientText {
  padding-left: 40px;
}
.sectionClients .clientImg {
  margin: 0 16px;
  -webkit-flex: 1.1;
  -webkit-box-flex: 1.1;
  -ms-flex: 1.1;
  flex: 1.1;
}
.sectionClients .clientText {
  -webkit-flex: 1;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.sectionClients .spacer {
  max-width: 60px;
}
.sectionClients .companyLogo {
  margin-right: -100px;
}
.sectionClients .companyLogo div {
  display: inline-block;
  vertical-align: bottom;
}
.sectionClients .companyLogo div:last-child {
  margin: 0 0 20px -8px;
}
.sectionClients .companyLogo div:last-child img {
  height: 80px;
}
.sectionClients .companyLogo img {
  height: 60px;
}
.sectionClients .companyWriteup {
  max-width: 450px;
}
.sectionClients .companyWriteup p {
  margin: 2em 0;
}
.sectionClients .textBig {
  margin-top: 20px;
  font-size: 28px;
  font-weight: 900;
}
.sectionClients .textSmall {
  font-size: 15px;
}
.sectionClients .textSmall ul {
  padding: 0;
  margin: 0;
}
.sectionClients .textSmall li {
  position: relative;
  list-style: none;
  margin-left: 20px;
  overflow: visible;
  line-height: 2;
}
.sectionClients .textSmall li:before {
  content: '';
  position: absolute;
  left: -20px;
  top: 6px;
  display: inline-block;
  width: 12px;
  height: 16px;
  background-size: contain;
  background-image: url('/img/logoBullet.png');
}
.sectionClients .clientMyKicks .clientText {
  margin-top: -80px;
}
.smallTeamText {
  max-width: 560px;
  margin: 0 auto 100px auto;
}
.sectionTestimonials {
  position: relative;
  padding-top: 80px;
  -webkit-user-select: none;
  user-select: none;
}
@media (max-width: 600px) {
  .sectionTestimonials {
    padding-bottom: 60px;
  }
  .sectionTestimonials .logoBig {
    display: none;
  }
}
@media (min-width: 601px) {
  .sectionTestimonials {
    padding-bottom: 180px;
  }
}
.sectionTestimonials .testimonialsTitle {
  max-width: 400px;
  margin-left: auto;
  margin-right: 60px;
}
.sectionTestimonials .testimonialsOval {
  position: absolute;
  right: 0;
  top: 60px;
  z-index: -1;
}
.sectionTestimonials .testimonialsOval svg {
  overflow: visible;
}
.testimonials {
  left: 0;
  right: 0;
  z-index: 1;
  margin-top: 60px;
  height: 520px;
  overflow: hidden;
}
.testimonials .scroller {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  z-index: 1;
  height: 100%;
  padding-bottom: 20px;
  box-sizing: content-box;
  /* So the width will be 100% + 17px */
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.testimonials .scroller.dragging {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing;
}
.testimonials .scroller > div {
  white-space: normal;
  display: inline-block;
  width: 300px;
  padding-bottom: 48px;
  vertical-align: top;
}
.testimonials .scroller > div + div {
  margin-left: 32px;
}
@media (max-width: 1180px) {
  .testimonials .scroller {
    padding-left: 16px;
    padding-right: 16px;
  }
  .testimonials .scroller > div + div {
    margin-left: 16px;
  }
}
@media (min-width: 1181px) {
  .testimonials .scroller {
    padding-left: calc((100vw - 1180px) / 2);
    padding-right: calc((100vw - 1180px) / 2);
  }
}
.testimonials .testimonialLogo {
  text-align: center;
  margin-top: 40px;
}
.testimonials .testimonialLogo img {
  height: 50px;
}
.testimonials .whiteBox {
  padding: 32px;
  background: white;
  border-radius: 12px;
  box-shadow: 0px 6px 30px rgba(92, 95, 101, 0.15);
}
.testimonials .whiteBox .text {
  height: 250px;
  font-size: 16px;
}
.testimonials .whiteBox .person {
  height: 60px;
}
.testimonials .person {
  margin-top: 16px;
  line-height: 1.3;
  color: #acb1be;
}
.testimonials .person img {
  width: 44px;
  height: 44px;
  margin-right: 16px;
}
.testimonials .person > .f1 > div:not(.fontGiant) {
  font-size: 15px;
  font-style: italic;
}
.iconHeart {
  fill: red;
  position: relative;
  top: 3px;
  width: 16px;
  margin: 0 6px;
  animation: pulse 1s ease infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.timeColon {
  animation: pulseOpacity 2s ease infinite;
}
@keyframes pulseOpacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
.fill {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.flexvert {
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: space-around;
  -ms-justify-content: space-around;
  -webkit-justify-content: space-around;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -webkit-box-orient: vertical;
}
.f1 {
  -webkit-flex: 1;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.abs {
  position: absolute;
}
a {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-size: 17px;
  margin: 0;
  width: 100%;
  line-height: 1.5;
  overflow-x: hidden;
  color: #2D344F;
  font-family: 'Aktiv', 'Helvetica Neue', Helvetica, Arial, Sans-serif;
  text-rendering: optimizeLegibility;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  scroll-behavior: smooth;
}
.fontTitle {
  font-weight: 500;
}
.text {
  color: #2D344F;
}
.textLight {
  color: #63687C;
}
.textTitle {
  position: relative;
  padding-bottom: 16px;
  font-size: 32px;
  line-height: 1.4;
  font-weight: 900;
}
@media (max-width: 500px) {
  .textTitle {
    font-size: 26px;
  }
}
@media (max-width: 400px) {
  .textTitle {
    font-size: 24px;
  }
}
.header {
  position: relative;
}
.topBar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: right;
  line-height: 30px;
  height: 30px;
  margin-top: 30px;
  z-index: 1;
}
.topBar a {
  color: white;
}
.topBar * {
  white-space: nowrap;
}
.topBar .headerLogo {
  height: 32px;
}
.topBar .headerRight {
  padding-right: 20px;
}
.headerInside {
  padding-top: 90px;
  height: 800px;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.headerInside > div {
  min-width: 520px;
}
@media (max-width: 1079px) {
  .headerInside {
    height: auto;
  }
  .headerInside .headerOval {
    display: none;
  }
  .headerInside .textTitle {
    color: white;
  }
  .headerInside .headerInsideLeft {
    margin-top: 0;
  }
  .headerInside .headerInsideLeftWrap2 {
    max-width: 600px;
    margin: 0 auto;
  }
  .headerInside .topOval {
    left: -100px;
    top: -400px;
  }
}
.headerInsideLeftWrap2 {
  -webkit-flex: 1 1 570px;
  -webkit-box-flex: 1 1 570px;
  -ms-flex: 1 1 570px;
  flex: 1 1 570px;
}
.headerInsideLeftWrap2 .spacer {
  max-width: 50px;
  -webkit-flex: 0 20 50px;
  -webkit-box-flex: 0 20 50px;
  -ms-flex: 0 20 50px;
  flex: 0 20 50px;
}
.headerInsideLeftWrap2 .headerInsideLeftWrap {
  -webkit-flex: 1 1 520px;
  -webkit-box-flex: 1 1 520px;
  -ms-flex: 1 1 520px;
  flex: 1 1 520px;
}
.headerInsideLeft {
  position: relative;
  margin-top: -60px;
}
.headerInsideLeft .headerOval {
  position: absolute;
  left: -60px;
  top: -20px;
}
.headerInsideLeft .headerOval svg {
  overflow: visible;
}
.headerInsideLeft .textTitle {
  font-size: 42px;
  margin-bottom: 24px;
  line-height: 1.3;
  font-weight: 900;
  margin-right: -100px;
}
.headerInsideLeft .textLight {
  max-width: 420px;
}
.topOval {
  position: absolute;
  left: 40px;
  bottom: 0;
  z-index: -1;
}
.topOval svg {
  overflow: visible;
}
.headerFooter a:not(.headerLogo) {
  margin-left: 12px;
  margin-right: 12px;
  text-decoration: none;
}
/*******************************
******* Error / Success ********
*******************************/
#success,
#error {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.9);
}
#success > div,
#error > div {
  text-align: center;
  height: 100%;
}
#success h1,
#error h1 {
  margin-bottom: 0;
  color: #005ebf;
}
#success p,
#error p {
  color: #747474;
}
@media all and (max-width: 480px) {
  #success h1,
  #error h1 {
    font-size: 60px;
  }
}
