<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>
        <div class="site">
            <div class="header">
                <div class="title">Jay Meistrich</div>
                <div class="headerButtons">
                    <a href="/">Home</a>
                    <a href="/travel">Travel</a>
                    <a href="/code">Code</a>
                    <a href="/about">About</a>
                </div>
            </div>
            {{ content }}
            <div class="footer">
                <div class="contact">
                    <p>
                        Jay Meistrich<br />
                        J@mei.st
                    </p>
                </div>
                <div class="contact">
                    <p>
                        <a href="https://github.com/jmeistrich">github.com/jmeistrich</a><br />
                        <a href="https://twitter.com/jmeistrich">twitter.com/jmeistrich</a><br />
                    </p>
                </div>
                </div>
            </div>

    </body>
</html>
