<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/style.css">

        <link rel="stylesheet" href="/css/main.css">
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,500,600,700' rel='stylesheet' type='text/css'>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-31380946-1', 'auto');
          ga('send', 'pageview');

        </script>
    </head>
    <body>
        <div class="container">
            <div id="hero">
                <div id="cover-dark"></div>
                <div id="header">
                    <div id="name">Jay Meistrich</div>
                    <div id="location">Currently in<span class="icon-map-marker"></span><span id="locationText"></span></div>
                    <ul class="social-links">
                        <li><a href="http://www.facebook.com/jayzus"><div class="icon-facebook"></div></a></li>
                        <li><a href="http://www.twitter.com/jmeistrich"><div class="icon-twitter"></div></a></li>
                        <li><a href="http://www.linkedin.com/in/jmeistrich"><div class="icon-linkedin"></div></a></li>
                        <li><a href="https://plus.google.com/113790725575874436353"><div class="icon-google-plus"></div></a></li>
                        <li><a href="http://instagram.com/jayzus"><div class="icon-instagram"></div></a></li>
                        <li><a href="http://github.com/jmeistrich"><div class="icon-github"></div></a></li>
                        <li><a href="mailto:jay@mei.st"><div class="icon-envelope"></div></a></li>
                    </ul>
                </div>
            </div>
            <div id="content">
                <h1>About Me</h1>
                <p class="aboutme">I'm building <a href="https://moo.do">Moo.do</a> while traveling indefinitely and living out of a 27L backpack. I worked at <a href="https://www.microsoft.com/appliedsciences/">Microsoft</a> until 2012, then lived in San Francisco for a year until I discovered that <a href="http://entrepreneur.com/article/241761">it's cheaper and more fun to build a startup while traveling</a>. So I'm making the most of my limited free time (startup life!) by exploring new places and seeing the world. I love <a href="http://instagram.com/jayzus">photography</a>, walking around strange new places, frisbee, hip hop, and Minions.</p>

                <h1>Work</h1>
                <div class="boxes flex work">
                    <a class="box" href="https://www.moo.do">
                        <img id="moodoLogo" src="/img/MoodoWhiteIcon.png" />
                        <div class="title">Moo.do</div>
                    </a>
                    <a class="box" href="https://www.microsoft.com/surface/">
                        <img src="/img/surface.png" />
                        <div class="title">Microsoft Surface</div>
                    </a>
                    <a class="box" href="https://en.wikipedia.org/wiki/Microsoft_PixelSense">
                        <img src="/img/Surface_table.jpg" />
                        <div class="title">Microsoft Surface</div>
                    </a>
                    <a class="box" href="http://www.xbox.com">
                        <img src="/img/Xbox-360-Console-497106.jpg" />
                        <div class="title">Microsoft Xbox</div>
                    </a>
                    <a class="box" href="https://en.wikipedia.org/wiki/Windows_7">
                        <img src="/img/windows-7-logo.jpg" />
                        <div class="title">Microsoft Windows 7</div>
                    </a>
                    <a class="box" href="http://www.ea.com/boom-blox">
                        <img src="/img/boomblox.png" />
                        <div class="title">EA Games Boom Blox</div>
                    </a>
                </div>

                <h1>Writing</h1>
                <div class="boxes flex one">
                    <a class="box" href="http://entrepreneur.com/article/241761">
                        <img src="/img/20countries.jpg" />
                        <div class="title">How I Built a Startup While Traveling to 20 Countries</div>
                    </a>
                </div>

                <h1>Interviews</h1>
                <div class="boxes flex interviews">
                    <a class="box" href="http://www.wired.com/2015/12/digital-nomads-telecommuting">
                        <img src="/img/wired.jpg" />
                    </a>
                    <a class="box" href="http://uk.businessinsider.com/best-way-to-build-startup-is-travel-the-world-2015-1?r=US&IR=T">
                        <img src="/img/bi.png" />
                    </a>
                    <a class="box" href="http://www.huffingtonpost.com/2015/02/08/what-is-a-digital-nomad_n_6580870.html">
                        <img src="/img/huffpost.png" />
                    </a>
                    <a class="box" href="https://www.washingtonpost.com/news/on-leadership/wp/2015/06/03/how-to-convince-your-company-to-let-you-keep-your-job-and-travel-the-world/">
                        <img src="/img/washington-post-logo-vertical.jpg" />
                    </a>
                    <a class="box" href="https://www.virgin.com/virgin-unite/entrepreneurship/staffreads-a-new-way-of-working">
                        <img src="/img/virgin.png" />
                    </a>
                    <a class="box" href="http://besuccess.com/2015/01/digital-nomad/">
                        <img src="/img/besuccess.png" />
                    </a>
                </div>

                <h1>Travels</h1>
                <div id="travelsWrapper">
                    <iframe id="travels" class="center" src="https://www.google.com/maps/d/u/0/embed?mid=1WdA_o2qIB2098qlkZxRPFuKFaBg&z=2&ll=35,12&maptype=roadmap" frameborder="0" style="border:0" width="1000" height="520"></iframe>
                </div>

                <h1><a href="http://instagram.com/jayzus">Photos</a></h1>
                <div id="instafeed" class="flex"></div>
            </div>
            <div class="footer center">
                <a href="/">Jay Meistrich</a> © 2016
            </div>
        </div>

        <script>
            (function() {
                var itinerary = [
                    '6/5', 'Porto, PT',
                    '7/3', 'Frankfurt, DE',
                    '7/7', 'Edinburgh, UK'
                ];
                var today = new Date();
                var location;
                for(var i = 0; i < itinerary.length; i += 2)
                {
                    itinerary[i] += '/16';
                    var date = new Date(itinerary[i]);
                    if(today < date)
                        break;
                    location = itinerary[i + 1];
                }
                document.getElementById('locationText').textContent = location;
            })();
        </script>


        <script type="text/javascript" src="instafeed.min.js"></script>
        <script>
            var feed = new Instafeed({
                    get: 'user',
                    userId: 'self',
                    limit: 9,
                    resolution: 'low_resolution',
                    clientId: '03b9454f396e46dbb77866e416ebb806',
                    accessToken: '83128.03b9454.df7d40180bc44feaa6b139cb80d1d537'
                });
            feed.run();

            document.getElementById('travelsWrapper').onmousedown = function ()
            {
                document.getElementById('travels').style['pointer-events'] = 'auto';
            }
        </script>
    </body>
</html>
