<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/style.css">

        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <div class="header">
            <div class="headerContent">
                <div class="profile"></div>
                <div class="title"><a href="/">Jay Meistrich</a></div>
                <span class="hb location"><span class="icon-map-marker"></span>Maui, Hawaii</span>
                <ul class="social-links">
                    <li><a href="http://www.facebook.com/jayzus"><div class="icon-facebook"></div></a></li>
                    <li><a href="http://www.twitter.com/jmeistrich"><div class="icon-twitter"></div></a></li>
                    <li><a href="http://www.linkedin.com/in/jmeistrich"><div class="icon-linkedin"></div></a></li>
                    <li><a href="https://plus.google.com/113790725575874436353"><div class="icon-google-plus"></div></a></li>
                    <li><a href="http://github.com/jmeistrich"><div class="icon-github"></div></a></li>
                    <li><a href="mailto:jay@mei.st"><div class="icon-envelope-alt"></div></a></li>
                </ul>
            </div>
            <div id="headerFooter">
                <div id="headerFooterExpand" class="hb icon-caret-down"></div>
                <div class="headerFooterInner">
                    <div>
                        <div class="navbarHeader">Categories</div>
                        <div>
                            <a href="/">All</a>
                            <span>{{ site.posts.size}}</span>
                        </div>
                        {% for category in site.categories %}
                        <div>
                            <a href="/{{ category | first }}">{{ category | first | capitalize }}</a>
                            <span>{{ category[1].size}}</span>
                        </div>
                        {% endfor %}
                        <div><a href="">Archive</a></div>
                    </div>
                    <div>
                        <div class="navbarHeader">Pages</div>
                        <div><a href="">About Me</a></div>
                        <div><a href="">Backpack</a></div>
                        <div><a href="">Traveling Lifestyle</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="content">
            {{ content }}
            </div>
            <!-- <div class="sidebar">
                <div>
                    <h1>Pages</h1>
                    <ul>
                        <li><a href="/about">About</a></li>
                        <li><a href="/backpack">Backpack</a></li>
                    </ul>
                </div>
                <div>
                    <h1>Categories</h1>
                    <ul class="categories">
                        <li>
                            <a href="/">All</a>
                            <span>{{ site.posts.size}}</span>
                        </li>
                    {% for category in site.categories %}
                        <li>
                        <a href="/{{ category | first }}">{{ category | first | capitalize }}</a>
                        <span>{{ category[1].size}}</span>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                <div>
                    <h1>Archives</h1>
                    <ul class="archive">
                      {% for post in site.posts %}
                          {% capture year %}{{ post.date | date: '%m' }}{% endcapture %}
                          {% capture nyear %}{{ post.next.date | date: '%m' }}{% endcapture %}
                          {% if year != nyear %}
                            <h2>{{ post.date | date: '%B' }}</h2>
                          {% endif %}
                        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                      {% endfor %}
                    </ul>
                </div>
            </div> -->
        </div>
        <div class="footer">
            <div class="contact">
                <p>
                    Jay Meistrich<br />
                    J@mei.st
                </p>
            </div>
            <div class="contact">
                <p>
                    <a href="https://github.com/jmeistrich">github.com/jmeistrich</a><br />
                    <a href="https://twitter.com/jmeistrich">twitter.com/jmeistrich</a><br />
                </p>
            </div>
            </div>
        </div>
        Images:
        Profile

        Icons:
        Location
        FB, Twitter, LinkedIn, Google+, GitHub, Email
        Tag
        Read More
        <script type="text/javascript">
            var hfExpanded = false;
            var hf = document.getElementById('headerFooter');
            document.getElementById('headerFooterExpand').onclick = function()
            {
                hfExpanded = !hfExpanded;
                hf.className = hfExpanded ? 'expanded' : '';
            };
        </script>
    </body>
</html>
